In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('/content/Sample - EU Superstore.csv')

In [6]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10000988,Office Supplies,Storage,"Fellowes Folders, Blue",79.20,3,0.0,39.60
1,2,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004144,Technology,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.92,7,0.0,0.00
2,3,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-LA-10001915,Office Supplies,Labels,"Avery Legal Exhibit Labels, 5000 Label Set",35.19,3,0.0,16.11
3,4,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10004550,Office Supplies,Storage,"Fellowes Folders, Wire Frame",50.94,2,0.0,13.20
4,5,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004068,Technology,Accessories,"Memorex Memory Card, USB",307.44,3,0.0,73.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,ES-2015-3780358,16/11/2015,19/11/2015,First Class,CC-12100,Chad Cunningham,Home Office,Rovigo,Veneto,Italy,South,OFF-BI-10000346,Office Supplies,Binders,"Ibico 3-Hole Punch, Clear",59.82,2,0.0,23.88
9996,9997,ES-2016-5371207,25/01/2016,29/01/2016,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,OFF-BI-10002083,Office Supplies,Binders,"Acco Hole Reinforcements, Economy",6.66,1,0.0,0.57
9997,9998,ES-2016-5371207,25/01/2016,29/01/2016,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,OFF-SU-10003211,Office Supplies,Supplies,"Acme Ruler, Steel",96.66,6,0.0,28.98
9998,9999,ES-2016-5371207,25/01/2016,29/01/2016,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,TEC-PH-10001664,Technology,Phones,"Motorola Office Telephone, VoIP",502.95,7,0.0,221.13
9999,10000,ES-2016-5371207,25/01/2016,29/01/2016,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,OFF-AR-10001228,Office Supplies,Art,"Stanley Markers, Water Color",152.28,6,0.0,50.22

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         10000 non-null  int64
 1   Order ID       10000 non-null  object
 2   Order Date     10000 non-null  object
 3   Ship Date      10000 non-null  object
 4   Ship Mode      10000 non-null  object
 5   Customer ID    10000 non-null  object
 6   Customer Name  10000 non-null  object
 7   Segment        10000 non-null  object
 8   City           10000 non-null  object
 9   State          10000 non-null  object
 10  Country        10000 non-null  object
 11  Region         10000 non-null  object
 12  Product ID     10000 non-null  object
 13  Category       10000 non-null  object
 14  Sub-Category   10000 non-null  object
 15  Product Name   10000 non-null  object
 16  Sales          10000 non-null  float64
 17  Quantity       10000 non-null  int64
 18  Discount       10000 non-null  float64
 19  Profit         10000 non-null  float64
dtypes: float64(3), int64(2), object(15)
memory usage: 1.5+ MB

In [8]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [9]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10000988,Office Supplies,Storage,"Fellowes Folders, Blue",79.20,3,0.0,39.60
1,2,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004144,Technology,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.92,7,0.0,0.00
2,3,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-LA-10001915,Office Supplies,Labels,"Avery Legal Exhibit Labels, 5000 Label Set",35.19,3,0.0,16.11
3,4,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10004550,Office Supplies,Storage,"Fellowes Folders, Wire Frame",50.94,2,0.0,13.20
4,5,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004068,Technology,Accessories,"Memorex Memory Card, USB",307.44,3,0.0,73.71

In [10]:
df['Category'].unique()

array(['Office Supplies', 'Technology', 'Furniture'], dtype=object)

In [11]:
df['Country'].unique()

array(['United Kingdom', 'France', 'Germany', 'Italy', 'Spain',
       'Netherlands', 'Sweden', 'Belgium', 'Austria', 'Ireland',
       'Portugal', 'Finland', 'Denmark', 'Norway', 'Switzerland'],
      dtype=object)

In [12]:
#cardinality of data columns

#for example the segment column
#in this case there are 3 possible options for 'Segment' column
#That means 'Segment' has cardinality of 3

df['Segment'].unique()

array(['Corporate', 'Consumer', 'Home Office'], dtype=object)

In [13]:
len(df['Segment'].unique())

3

In [14]:
df['Country'].unique()

array(['United Kingdom', 'France', 'Germany', 'Italy', 'Spain',
       'Netherlands', 'Sweden', 'Belgium', 'Austria', 'Ireland',
       'Portugal', 'Finland', 'Denmark', 'Norway', 'Switzerland'],
      dtype=object)

In [15]:
#'Country' has higher cardinality than 'Segment
len(df['Country'].unique())

15

In [16]:
df['Customer Name'].unique()

array(['Aaron Smayling', 'Ellis Ballard', 'Logan Haushalter',
       'Kelly Collister', 'Ben Ferrer', 'Beth Fritzler',
       'Dan Reichenbach', 'Laurel Beltran', "Rose O'Brian",
       'Susan Pistek', 'Annie Zypern', 'Deborah Brumfield',
       'Parhena Norris', 'Sam Craven', 'Toby Braunhardt',
       'Cari MacIntyre', 'Christina Anderson', 'Thomas Boland',
       'Mark Hamilton', 'Ivan Liston', 'Randy Bradley', 'Joe Elijah',
       'Ralph Ritter', 'Vivian Mathis', 'Bill Eplett', 'Guy Armstrong',
       'John Lucas', 'Corey-Lock', 'Sue Ann Reed', 'Gary Hansen',
       'Edward Nazzal', 'Charles McCrossin', "Sean O'Donnell",
       'Susan Vittorini', 'Mick Crebagga', 'Cynthia Voltz',
       'Stefanie Holloman', 'Pauline Webber', 'Nathan Gelder',
       'Evan Minnotte', 'Mike Vittorini', 'Patrick Bzostek',
       'Kean Takahito', 'Jennifer Braxton', 'Magdelene Morse',
       'Kelly Lampkin', 'Greg Tran', 'Fred Harton', 'Lisa Ryan',
       'Becky Martin', 'Ken Heidel', "Mary O'Rourke", 'Georgia Rosenberg',
       'Guy Thornton', 'Julie Creighton', 'Anthony Witt',
       'Alan Dominguez', 'Ann Chong', 'Mark Cousins', 'Lena Cacioppo',
       'Dave Brooks', "Doug O'Connell", 'Bill Shonely', 'Michelle Tran',
       'Steven Roelle', 'Phillip Breyer', 'Theresa Coyne', 'Art Foster',
       'Michelle Moray', 'Michael Paige', 'Ivan Gibson',
       'Saphhira Shifley', 'Allen Rosenblatt', 'Aimee Bixby',
       'Mathew Reese', 'Helen Andreada', 'Maribeth Yedwab',
       'Jonathan Doherty', 'Herbert Flentye', 'Julie Prescott',
       'Denise Leinenbach', 'Lindsay Castell', 'Karen Bern',
       'Katrina Willman', 'Sanjit Chand', 'Benjamin Venier',
       'Brian Dahlen', 'Bruce Geld', 'Stewart Carmichael', 'Dan Campbell',
       'Sean Wendt', 'Tamara Dahlen', 'Cathy Hwang', 'Michael Stewart',
       'Tim Brockman', 'Bobby Odegard', 'Chris Cortes',
       'Alan Schoenberger', 'Lena Creighton', 'Daniel Lacy',
       'Linda Cazamias', 'Greg Maxwell', 'Becky Pak', 'Kimberly Carter',
       'Luke Schmidt', 'Darrin Martin', 'Michael Oakman', 'Jim Kriz',
       'Yoseph Carroll', 'Larry Blacks', 'Christine Kargatis',
       'Kristen Hastings', 'Jane Waco', "Anthony O'Donnell",
       'Brian Stugart', 'Frank Olsen', 'John Grady', 'Bill Tyler',
       'Rob Haberlin', "Meg O'Connel", 'James Lanier',
       'Phillip Flathmann', 'Roy Skaria', 'Justin Ritter', 'Greg Guthrie',
       'Bradley Talbott', 'Stefania Perrino', 'Daniel Raglin', 'Roy Phan',
       'Alan Hwang', 'Ricardo Emerson', 'Stuart Van', 'Susan MacKendrick',
       'David Kendrick', 'Clay Cheatham', 'Neil Knudson',
       'Richard Eichhorn', 'Alejandro Grove', 'Erica Smith',
       'Justin Hirsh', 'Giulietta Weimer', 'Juliana Krohn',
       'Michelle Huthwaite', 'Zuschuss Carroll', 'Nathan Cano',
       'Jill Fjeld', 'Nicole Fjeld', 'Jay Fein', 'Candace McMahon',
       'Cari Sayre', 'Christina VanderZanden', 'Matt Hagelstein',
       'Darren Koutras', 'Bradley Drucker', 'Philip Fox',
       'Alice McCarthy', 'Bobby Trafton', 'Craig Yedwab',
       'Cindy Schnelling', 'Neola Schneider', 'Guy Phonely',
       'Eileen Kiefer', 'Steve Carroll', 'Brad Eason', 'Ionia McGrath',
       'Roland Murray', 'Max Jones', 'Cynthia Delaney', 'Emily Ducich',
       'Alex Russell', 'Ed Ludwig', 'Darrin Van Huff',
       'Christopher Conant', "Patrick O'Donnell", 'Philisse Overcash',
       'Christopher Schild', 'Muhammed Yedwab', 'Rob Beeghly',
       'Chris McAfee', 'Liz Carlisle', 'Justin Deggeller',
       'Pamela Coakley', 'Eric Murdock', 'Alyssa Crouse', 'Toby Carlisle',
       'Paul Van Hugh', 'Max Ludwig', 'Lori Olson', 'Barry Franz',
       'Cari Schnelling', 'Rick Huthwaite', 'Monica Federle',
       'Brian Moss', 'Michael Granlund', 'Nick Zandusky', 'Noel Staavos',
       'Scott Williamson', 'Joe Kamberova', 'Laurel Workman',
       'Eva Jacobs', 'Natalie Fritzler', 'Andy Gerbode', 'Rick Wilson',
       'Sally Knutson', 'Lela Donovan', 'Carol Darley', 'Emily Grady',
       'Jim Karlsson', 'Fred Chung', 'Stephanie Ulpright', 'Dana Kaydos',
       'Jennifer Ferguson', 'Michael Chen', 'Steven Cartwright',
       'Ruben Ausman', 'George Bell', 'Heather Kirkland', 'Scot Wooten',
       'John Dryer', 'Rick Reed', 'Neil Französisch', 'Barry Französisch',
       'Christina DeMoss', 'Thomas Brumley', 'Anthony Johnson',
       'Nat Gilpin', 'Marc Crier', 'Chad Cunningham', 'Ted Butterfield',
       'John Lee', 'Jamie Frazer', 'Dan Lawera', 'Jeremy Ellison',
       'Chloris Kastensmidt', 'Raymond Buch', 'Bryan Mills',
       'Tracy Blumstein', 'Irene Maddox', 'Kelly Andreada',
       'Benjamin Farhat', 'Janet Lee', 'Mitch Webber', 'Frank Atkinson',
       'Joy Daniels', 'Helen Abelman', 'Cathy Armstrong', 'Theresa Swint',
       'Lauren Leatherbury', 'Shirley Jackson', 'Victoria Pisteka',
       'Richard Bierner', 'Laura Armstrong', "Patrick O'Brill",
       'Helen Wasserman', 'Barry Blumstein', 'Sung Chung',
       'Keith Herrera', 'Justin MacKendrick', 'Anemone Ratner',
       'Julie Kriz', 'Shahid Collister', 'Charles Crestani',
       'David Philippe', 'Barry Weirich', 'Joel Eaton',
       'Claudia Bergmann', 'Mitch Willingham', 'Noah Childs',
       'Sarah Jordon', 'Sonia Cooley', 'Karen Seio', 'Vivek Grady',
       'Trudy Schmidt', 'Delfina Latchford', 'Shui Tom', 'Dorothy Wardle',
       'Duane Benoit', 'Paul Stevenson', 'Nick Radford',
       'Katherine Nockton', 'Dorothy Badders', 'Kristina Nunn',
       'John Castell', 'Beth Thompson', 'Toby Gnade', 'Michael Dominguez',
       'Ralph Arnett', 'Stuart Calhoun', 'David Bremer', 'Brad Thomas',
       'Maureen Fritzler', 'Ralph Kennedy', 'Rick Bensley',
       'Arthur Gainer', 'Ricardo Sperren', 'Kelly Williams',
       'Michael Moore', 'Julia West', 'Sean Christensen', 'Carlos Daly',
       'John Stevenson', 'Gary Zandusky', 'Anna Häberlin',
       'Maria Bertelson', 'Speros Goranitis', 'Bart Watters',
       'Mark Haberlin', 'Corey Roper', 'Maribeth Schnelling',
       'Sally Hughsby', 'Tonja Turnell', 'Dean Braden', 'Anthony Rawles',
       'Sheri Gordon', 'Maureen Gnade', 'Aaron Bergman',
       'Henry MacAllister', 'Tamara Manning', 'Kunst Miller',
       'Jennifer Halladay', 'Patricia Hirasaki', 'Cassandra Brandow',
       'Cindy Chapman', 'Barbara Fisher', 'Gary Hwang', 'Emily Phan',
       'Alex Avila', 'Daniel Byrd', 'Resi Pölking', 'Andrew Allen',
       'Roger Barcio', 'Jill Matthias', 'Scot Coram', 'Marc Harrigan',
       'Deirdre Greer', 'Jay Kimmel', 'Matthew Clasen', 'Thea Hendricks',
       'Eugene Barchas', 'Katharine Harms', 'Sample Company A',
       'Neoma Murray', 'Julia Dunbar', 'Becky Castell', 'Paul Prost',
       'Lena Radford', 'Dennis Pardue', 'Ross Baird', 'Roger Demir',
       'Frank Gastineau', 'Duane Noonan', 'Evan Henry', 'Jonathan Howell',
       'Brian Thompson', 'Jason Fortune-', 'Lisa Hazard', 'Ken Lonsdale',
       'Sean Miller', 'Maria Etezadi', 'Eric Hoffmann', 'Mary Zewe',
       'Katherine Murray', 'Matt Abelman', 'Melanie Seite',
       'Vivek Sundaresam', 'Christine Phan', 'Fred McMath',
       'Mark Van Huff', 'Jennifer Patt', 'Erica Hernandez',
       'Craig Leslie', 'Joy Bell-', 'Tony Molinari', 'Jill Stevenson',
       'Lisa DeCherney', 'Randy Ferguson', 'Erin Creighton',
       'Ritsa Hightower', 'Robert Barroso', 'Laurel Elliston',
       'Paul Lucas', 'Victoria Brennan', 'Jenna Caffey', 'Fred Wasserman',
       'Yana Sorensen', 'Michelle Arnett', 'Joni Wasserman',
       'Karen Ferguson', 'Tony Chapman', 'Sandra Flanagan',
       'Tom Ashbrook', 'Phillina Ober', 'Pete Takahito', 'Jim Epp',
       'Pete Kriz', 'Shaun Weien', 'Debra Catini', 'Filia McAdams',
       'Clay Ludtke', 'Greg Hansen', 'Jack Garza', 'Paul Gonzalez',
       'Berenike Kampe', 'Muhammed MacIntyre', 'Heather Jas',
       'William Brown', 'Ed Braxton', 'Kean Nguyen', 'Karl Braun',
       'Larry Hughes', 'Greg Matthias', 'Linda Southworth',
       'Mitch Gastineau', 'Sung Pak', 'Jim Mitchum', 'Beth Paige',
       'Charles Sheldon', 'Rick Duston', 'Jocasta Rupert', 'Trudy Glocke',
       'Ken Brennan', 'Valerie Mitchum', 'James Galang', 'Sanjit Engle',
       'Justin Ellison', 'Quincy Jones', 'Harold Pawlan',
       'Jasper Cacioppo', 'Ben Peterman', 'Liz Pelletier', 'Tim Taslimi',
       'Odella Nelson', 'Eugene Moren', 'Brenda Bowman', 'Todd Sumrall',
       'Tamara Willingham', 'Thais Sissman', 'Ryan Akin',
       'Alejandro Savely', 'Christy Brittain', 'Sara Luxemburg',
       'Tom Prescott', 'Bill Donatelli', 'Art Ferguson', 'Naresj Patel',
       'Christine Abelman', 'Roland Fjeld', 'Clytie Kelty',
       'Zuschuss Donatelli', 'Giulietta Dortch', 'Vivek Gonzalez',
       'Steve Chapman', 'Arthur Wiediger', 'Suzanne McNair',
       'Brendan Murry', 'Henry Goldwyn', 'Dario Medina', 'Joy Smith',
       'Anne McFarland', 'Jim Sink', 'Raymond Messe', 'Michelle Ellison',
       'Doug Bickford', 'Carol Adams', 'Patrick Ryan', 'Chris Selesnick',
       'Tanja Norvell', 'Darren Powers', 'Shaun Chance', 'Nat Carroll',
       'Maxwell Schwartz', 'Jim Radford', 'Tony Sayre', 'Sally Matthias',
       'Anna Andreadi', 'Maris LaWare', 'Doug Jacobs', 'Sarah Bern',
       'Nora Preis', 'Frank Hawley', 'Bart Folk', 'Adam Shillingsburg',
       'Neil Ducich', 'Rob Lucas', 'Joseph Airdo', 'Paul MacIntyre',
       'Ted Trevino', 'Matt Connell', 'Adrian Barton', 'Edward Becker',
       'Khloe Miller', 'Larry Tron', 'Sarah Brown', 'Giulietta Baptist',
       'Denny Joy', 'Lynn Smith', 'Nora Pelletier', 'Andrew Gjertsen',
       'Benjamin Patterson', 'Denise Monton', 'Shirley Schmidt',
       'Robert Marley', 'Shirley Daniels', 'Thomas Seio', 'Pierre Wener',
       'Natalie Webber', 'Jesus Ocampo', 'Janet Molinari', 'David Wiener',
       'Corey Catlett', 'Dennis Kane', 'Allen Goldenen', 'Harry Marie',
       'Duane Huffman', 'Alan Shonely', 'Luke Weiss', 'Ann Blume',
       'Adrian Hane', 'Emily Burns', 'Aaron Hawkins', 'Cyra Reiten',
       'Roy Französisch', 'Xylona Preis', 'Katrina Edelman',
       'Luke Foster', 'Toby Ritter', 'Denny Ordway', 'Patrick Jones',
       'Dennis Bolton', 'Liz Willingham', 'Arianne Irving',
       'Tracy Poddar', 'Tracy Zic', 'Pauline Chand', 'Carlos Meador',
       'Cynthia Arntzen', 'George Ashbrook', 'Andrew Roberts',
       'Lindsay Shagiari', 'Theone Pippenger', 'Bobby Elias',
       'Eleni McCrary', 'Cyma Kinney', 'Hilary Holden', 'Ashley Jarboe',
       'Alejandro Ballentine', 'Peter Fuller', 'Alex Grayson',
       'Shahid Hopkins', 'Anna Gayman', 'Chuck Magee', 'Harold Engle',
       'Brad Norvell', 'Denny Blanton', 'Michael Grace', 'Mick Brown',
       'Alan Haines', 'Bruce Stewart', 'Brendan Dodson', 'Ken Black',
       'Tracy Collins', 'Pete Armstrong', 'John Murray',
       'Katrina Bavinger', 'Grant Thornton', 'Peter McVee',
       'Maurice Satty', 'Carlos Soltero', 'Nick Crebassa', 'Adam Hart',
       'Brian Derr', 'Dave Hallsten', 'Jack Lebron', 'Stewart Visinsky',
       'Ben Wallace', 'Arthur Prichep', 'Vicky Freymann', 'Rick Hansen',
       'Keith Dawkins', 'Mike Caudle', 'Sonia Sunley', 'Steve Nguyen',
       'Joel Jenkins', 'Gene Hale', 'Mike Gockenbach', 'Carl Jackson',
       'Aleksandra Gannaway', 'Erica Bern', 'Christine Sundaresam',
       'Sarah Foster', 'Deanra Eno', 'Ryan Crowe', 'Thea Hudgings',
       'Dorothy Dickinson', 'Trudy Brown', 'Chad Sievert',
       'Annie Thurman', 'Ken Dana', 'Grace Kelly', 'Logan Currie',
       'Dionis Lloyd', 'Alyssa Tate', 'Steven Ward', 'Chuck Sachs',
       'Barry Gonzalez', 'Valerie Takahito', 'Mike Pelletier',
       'Bradley Nguyen', 'Eudokia Martin', 'Toby Swindell',
       'Sanjit Jacobs', 'Joni Sundaresam', 'Roy Collins', 'Dianna Arnett',
       'Astrea Jones', 'Charlotte Melton', 'Dorris liebe', 'Philip Brown',
       'David Smith', 'Ruben Dartt', 'Russell Applegate', 'Mike Kennedy',
       'Fred Hopkins', 'Valerie Dominguez', 'Matt Collister',
       'Sharelle Roach', 'Maria Zettner', 'Jeremy Farry', 'John Huston',
       'Patrick Gardner', 'George Zrebassa', 'Bryan Spruell',
       'Brosina Hoffman', 'Olvera Toch', 'Pauline Johnson',
       'Robert Waldorf', 'Harry Greene', 'Jessica Myrick', 'Janet Martin',
       'Caroline Jumper', 'Adam Bellavance', 'Matt Collins',
       'Dean percer', 'Brendan Sweed', 'Damala Kotsonis', 'Liz Thompson',
       'Anthony Garverick', 'Ann Steele', 'Nona Balk', 'Mick Hernandez',
       'Elpida Rittenbach', 'Maya Herman', 'Troy Staebel',
       'Craig Molinari', 'Anthony Jacobs', 'Katherine Ducich',
       'Katherine Hughes', 'Angele Hood', "Russell D'Ascenzo",
       'Robert Dilbeck', 'Tom Zandusky', 'Roland Schwarz',
       'Eugene Hildebrand', 'Maureen Gastineau', 'Victoria Wilson',
       'Sung Shariari', 'Jason Gross', 'Darrin Sayre', 'Don Miller',
       'Hunter Lopez', 'Craig Carroll', 'Joseph Holt', 'Tiffany House',
       'Liz MacKendrick', 'Lindsay Williams', 'Maribeth Dona',
       'Shahid Shariari', 'Chad McGuire', 'Michael Nguyen', 'Seth Vernon',
       'Henia Zydlo', 'Meg Tillman', 'Ross DeVincentis', 'Don Weiss',
       'Frank Merwin', 'Nora Paige', 'Sean Braxton', 'Elizabeth Moffitt',
       'Alan Barnes', 'Lycoris Saunders', 'Jeremy Lonsdale',
       'David Flashing', 'Carol Triggs', 'Joni Blumstein', 'Claire Gute',
       'Brian DeCherney', 'Gary McGarr', 'Harold Ryan', 'Allen Armold',
       'Anna Chung', 'Erin Ashbrook', 'Dianna Vittorini', 'Skye Norling',
       'Dave Poirier', 'Susan Gilcrest', 'Rachel Payne', 'Bart Pistole',
       'Jamie Kunitz', 'Matthew Grinstein', 'Tamara Chand',
       'Nathan Mautz', 'Christopher Martinez', 'Carl Weiss',
       'Paul Knutson', 'Troy Blackwell', 'Rob Dowd', "Jack O'Briant",
       'Carl Ludwig', 'Kean Thornton', 'Dean Katz', 'Julia Barnett',
       'Jason Klamczynski', 'Gene McClure', 'Erica Hackney',
       'Michelle Lonsdale', 'Craig Carreira', 'Andy Yotov',
       'Dianna Wilson', 'Pamela Stobb', 'Tom Stivers', 'Cathy Prescott',
       'Edward Hooks', 'Harold Dahlen', 'Mark Packer', 'Anne Pryor',
       'Penelope Sewall', 'Amy Cox', 'Don Jones', 'Karen Daniels',
       'Barry Pond', 'Hunter Glantz', 'Jeremy Pistek', 'Amy Hunt',
       'Jennifer Jackson', 'Liz Preis', 'MaryBeth Skach', 'Tracy Hopkins',
       'Muhammed Lee', 'Rob Williams', 'Nicole Hansen',
       'Natalie DeCherney', 'Karen Carlisle', 'Michael Kennedy',
       'Hallie Redmond', 'Bryan Davis', 'Peter Bühler',
       'Marina Lichtenstein', 'Gary Mitchum', 'Dave Kipp', 'Eric Barreto',
       'Nancy Lomonaco', 'Sibella Parks', 'Frank Preis', 'Victor Preis',
       'Corinna Mitchell', 'Sam Zeldin', 'Frank Carlisle',
       'Tom Boeckenhauer', 'Clay Rozendal', 'Bruce Degenhardt',
       'Cindy Stewart', 'Adrian Shami', 'Nicole Brennan',
       'Thomas Thornton', 'Catherine Glotzbach', 'Ed Jacobs',
       'Craig Reiter', 'Max Engle', 'Lena Hernandez', 'Erin Smith',
       'Darren Budd', 'Stephanie Phelps', 'Sandra Glassco',
       'Bill Stewart', 'Todd Boyes', 'Bill Overfelt', 'Erin Mull',
       "Jas O'Carroll", 'Andy Reiter', 'Kalyca Meade', 'Sylvia Foulston',
       'Evan Bailliet', 'Brooke Gillingham', 'Chuck Clark', 'Scott Cohen'],
      dtype=object)

In [17]:
len(df['Customer Name'].unique())

795

In [18]:
#let's think about what the computer have to do -> has to go through the entire dataset (1 specific column)

#getting the unique values of a column in a lazy manner is an expensive operation -> we need go through all the rows

In [19]:
df[df['Customer Name'] == 'Edward Nazzal']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
73,74,ES-2018-1193193,21/05/2018,23/05/2018,First Class,EN-13780,Edward Nazzal,Consumer,Dijon,Bourgogne-Franche-Comté,France,Central,FUR-CH-10001153,Furniture,Chairs,"Harbour Creations Bag Chairs, Adjustable",173.097,3,0.10,69.237
371,372,IT-2017-1127161,22/06/2017,29/06/2017,Standard Class,EN-13780,Edward Nazzal,Consumer,Saint-Nazaire,Pays de la Loire,France,Central,TEC-CO-10002916,Technology,Copiers,"Hewlett Ink, Color",382.806,3,0.15,-4.554
2969,2970,ES-2018-5545008,09/08/2018,15/08/2018,Standard Class,EN-13780,Edward Nazzal,Consumer,Albi,Languedoc-Roussillon-Midi-Pyrénées,France,Central,TEC-PH-10001014,Technology,Phones,"Cisco Speaker Phone, with Caller ID",353.124,3,0.15,-45.756
2970,2971,ES-2018-5545008,09/08/2018,15/08/2018,Standard Class,EN-13780,Edward Nazzal,Consumer,Albi,Languedoc-Roussillon-Midi-Pyrénées,France,Central,FUR-CH-10003540,Furniture,Chairs,"Office Star Bag Chairs, Set of Two",259.605,5,0.10,-14.445
5055,5056,ES-2015-1436413,19/03/2015,23/03/2015,Standard Class,EN-13780,Edward Nazzal,Consumer,Marseille,Provence-Alpes-Côte d'Azur,France,Central,OFF-ST-10001213,Office Supplies,Storage,"Smead Shelving, Industrial",177.876,4,0.10,27.636
6708,6709,ES-2018-1285854,20/01/2018,24/01/2018,Second Class,EN-13780,Edward Nazzal,Consumer,Antibes,Provence-Alpes-Côte d'Azur,France,Central,FUR-CH-10000399,Furniture,Chairs,"Hon Swivel Stool, Set of Two",597.240,4,0.10,92.880
6709,6710,ES-2018-1285854,20/01/2018,24/01/2018,Second Class,EN-13780,Edward Nazzal,Consumer,Antibes,Provence-Alpes-Côte d'Azur,France,Central,OFF-BI-10004554,Office Supplies,Binders,"Avery Index Tab, Clear",12.660,2,0.00,0.480

In [20]:
#checking the all the columns of dataset

df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [21]:
#select a specific column
df['Product Name']

0                           Fellowes Folders, Blue
1                SanDisk Numeric Keypad, Bluetooth
2       Avery Legal Exhibit Labels, 5000 Label Set
3                     Fellowes Folders, Wire Frame
4                         Memorex Memory Card, USB
                           ...
9995                     Ibico 3-Hole Punch, Clear
9996             Acco Hole Reinforcements, Economy
9997                             Acme Ruler, Steel
9998               Motorola Office Telephone, VoIP
9999                  Stanley Markers, Water Color
Name: Product Name, Length: 10000, dtype: object

In [22]:
df[['Product Name', 'Country']]

                                    Product Name         Country
0                         Fellowes Folders, Blue  United Kingdom
1              SanDisk Numeric Keypad, Bluetooth  United Kingdom
2     Avery Legal Exhibit Labels, 5000 Label Set  United Kingdom
3                   Fellowes Folders, Wire Frame  United Kingdom
4                       Memorex Memory Card, USB  United Kingdom
...                                          ...             ...
9995                   Ibico 3-Hole Punch, Clear           Italy
9996           Acco Hole Reinforcements, Economy         Germany
9997                           Acme Ruler, Steel         Germany
9998             Motorola Office Telephone, VoIP         Germany
9999                Stanley Markers, Water Color         Germany

[10000 rows x 2 columns]

In [23]:
#@title Fitering Data

# We want a reduced scope of data according to a logical condition

In [24]:
#We want only analyze only the corporate segment data
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10000988,Office Supplies,Storage,"Fellowes Folders, Blue",79.20,3,0.0,39.60
1,2,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004144,Technology,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.92,7,0.0,0.00
2,3,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-LA-10001915,Office Supplies,Labels,"Avery Legal Exhibit Labels, 5000 Label Set",35.19,3,0.0,16.11
3,4,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10004550,Office Supplies,Storage,"Fellowes Folders, Wire Frame",50.94,2,0.0,13.20
4,5,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004068,Technology,Accessories,"Memorex Memory Card, USB",307.44,3,0.0,73.71

In [25]:
df['Segment'] == 'Corporate'

0        True
1        True
2        True
3        True
4        True
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Segment, Length: 10000, dtype: bool

In [26]:
condition = df['Segment'] == 'Corporate'

In [27]:
condition

0        True
1        True
2        True
3        True
4        True
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Segment, Length: 10000, dtype: bool

In [28]:
# We sliced our df based on our condition
df[condition].head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10000988,Office Supplies,Storage,"Fellowes Folders, Blue",79.20,3,0.0,39.60
1,2,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004144,Technology,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.92,7,0.0,0.00
2,3,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-LA-10001915,Office Supplies,Labels,"Avery Legal Exhibit Labels, 5000 Label Set",35.19,3,0.0,16.11
3,4,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10004550,Office Supplies,Storage,"Fellowes Folders, Wire Frame",50.94,2,0.0,13.20
4,5,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004068,Technology,Accessories,"Memorex Memory Card, USB",307.44,3,0.0,73.71

In [29]:
len(df[condition])

3077

In [30]:
len(df[condition].columns)

20

In [31]:
data_filtered = df[condition]

In [32]:
data_filtered.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10000988,Office Supplies,Storage,"Fellowes Folders, Blue",79.20,3,0.0,39.60
1,2,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004144,Technology,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.92,7,0.0,0.00
2,3,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-LA-10001915,Office Supplies,Labels,"Avery Legal Exhibit Labels, 5000 Label Set",35.19,3,0.0,16.11
3,4,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10004550,Office Supplies,Storage,"Fellowes Folders, Wire Frame",50.94,2,0.0,13.20
4,5,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004068,Technology,Accessories,"Memorex Memory Card, USB",307.44,3,0.0,73.71

In [33]:
condition1 = df['Segment'] == 'Corporate'
condition2 = df['Country'] == 'Finland'

In [35]:
#this wont work

df[[conditon1,condition2]]

NameError: ignored

In [36]:
condition1 & condition2

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [37]:
final_condition = condition1 & condition2

In [38]:
df[final_condition]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
699,700,ES-2016-2359818,22/05/2016,26/05/2016,Standard Class,KC-16675,Kimberly Carter,Corporate,Espoo,Uusimaa,Finland,North,OFF-BI-10004644,Office Supplies,Binders,"Cardinal Index Tab, Durable",15.24,2,0.0,6.84
809,810,ES-2016-3804736,30/11/2016,05/12/2016,Standard Class,SH-19975,Sally Hughsby,Corporate,Espoo,Uusimaa,Finland,North,TEC-AC-10003172,Technology,Accessories,"Memorex Numeric Keypad, Bluetooth",316.47,7,0.0,94.92
1846,1847,ES-2016-3274675,19/05/2016,23/05/2016,Second Class,CK-12760,Cyma Kinney,Corporate,Espoo,Uusimaa,Finland,North,OFF-ST-10003414,Office Supplies,Storage,"Tenex Shelving, Industrial",55.14,1,0.0,10.47
2929,2930,ES-2015-2410472,21/07/2015,21/07/2015,Same Day,TH-21235,Tiffany House,Corporate,Vantaa,Uusimaa,Finland,North,OFF-SU-10003924,Office Supplies,Supplies,"Elite Trimmer, Steel",123.21,3,0.0,60.30
2930,2931,ES-2015-2410472,21/07/2015,21/07/2015,Same Day,TH-21235,Tiffany House,Corporate,Vantaa,Uusimaa,Finland,North,OFF-SU-10001879,Office Supplies,Supplies,"Acme Trimmer, High Speed",178.32,4,0.0,51.60
3636,3637,ES-2016-3471823,30/06/2016,04/07/2016,Standard Class,CK-12760,Cyma Kinney,Corporate,Espoo,Uusimaa,Finland,North,FUR-CH-10002053,Furniture,Chairs,"Novimex Chairmat, Set of Two",292.95,5,0.0,46.80
3637,3638,ES-2016-3471823,30/06/2016,04/07/2016,Standard Class,CK-12760,Cyma Kinney,Corporate,Espoo,Uusimaa,Finland,North,TEC-PH-10001664,Technology,Phones,"Motorola Office Telephone, VoIP",215.55,3,0.0,94.77
3638,3639,ES-2016-3471823,30/06/2016,04/07/2016,Standard Class,CK-12760,Cyma Kinney,Corporate,Espoo,Uusimaa,Finland,North,OFF-AR-10000727,Office Supplies,Art,"Stanley Canvas, Easy-Erase",99.48,2,0.0,23.82
4462,4463,ES-2017-4334154,09/09/2017,13/09/2017,Standard Class,MC-17635,Matthew Clasen,Corporate,Helsinki,Uusimaa,Finland,North,FUR-BO-10004430,Furniture,Bookcases,"Bush Floating Shelf Set, Metal",341.46,2,0.0,30.72
5016,5017,ES-2015-4816650,22/10/2015,28/10/2015,Standard Class,YS-21880,Yana Sorensen,Corporate,Helsinki,Uusimaa,Finland,North,OFF-PA-10004267,Office Supplies,Paper,"Enermax Parchment Paper, 8.5 x 11",117.18,6,0.0,32.76
5017,5018,ES-2015-4816650,22/10/2015,28/10/2015,Standard Class,YS-21880,Yana Sorensen,Corporate,Helsinki,Uusimaa,Finland,North,OFF-AR-10001777,Office Supplies,Art,"Binney & Smith Sketch Pad, Water Color",247.50,5,0.0,81.60
5018,5019,ES-2015-4816650,22/10/2015,28/10/2015,Standard Class,YS-21880,Yana Sorensen,Corporate,Helsinki,Uusimaa,Finland,North,FUR-FU-10000225,Furniture,Furnishings,"Rubbermaid Photo Frame, Durable",292.68,6,0.0,14.58
6557,6558,ES-2018-3645637,24/10/2018,24/10/2018,Same Day,AR-10345,Alex Russell,Corporate,Kotka,Kymenlaakso,Finland,North,FUR-CH-10002030,Furniture,Chairs,"Office Star Swivel Stool, Red",173.94,1,0.0,8.67
9980,9981,ES-2015-3081212,28/08/2015,04/09/2015,Standard Class,VW-21775,Victoria Wilson,Corporate,Helsinki,Uusimaa,Finland,North,FUR-CH-10001831,Furniture,Chairs,"Novimex Rocking Chair, Set of Two",267.36,2,0.0,29.40
9981,9982,ES-2015-3081212,28/08/2015,04/09/2015,Standard Class,VW-21775,Victoria Wilson,Corporate,Helsinki,Uusimaa,Finland,North,OFF-LA-10003290,Office Supplies,Labels,"Hon Round Labels, Adjustable",9.12,2,0.0,3.24
9982,9983,ES-2015-3081212,28/08/2015,04/09/2015,Standard Class,VW-21775,Victoria Wilson,Corporate,Helsinki,Uusimaa,Finland,North,OFF-AP-10002238,Office Supplies,Appliances,"Hoover Coffee Grinder, Red",275.16,4,0.0,8.16

In [39]:
# or we can do this too

df[condition1 & condition2]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
699,700,ES-2016-2359818,22/05/2016,26/05/2016,Standard Class,KC-16675,Kimberly Carter,Corporate,Espoo,Uusimaa,Finland,North,OFF-BI-10004644,Office Supplies,Binders,"Cardinal Index Tab, Durable",15.24,2,0.0,6.84
809,810,ES-2016-3804736,30/11/2016,05/12/2016,Standard Class,SH-19975,Sally Hughsby,Corporate,Espoo,Uusimaa,Finland,North,TEC-AC-10003172,Technology,Accessories,"Memorex Numeric Keypad, Bluetooth",316.47,7,0.0,94.92
1846,1847,ES-2016-3274675,19/05/2016,23/05/2016,Second Class,CK-12760,Cyma Kinney,Corporate,Espoo,Uusimaa,Finland,North,OFF-ST-10003414,Office Supplies,Storage,"Tenex Shelving, Industrial",55.14,1,0.0,10.47
2929,2930,ES-2015-2410472,21/07/2015,21/07/2015,Same Day,TH-21235,Tiffany House,Corporate,Vantaa,Uusimaa,Finland,North,OFF-SU-10003924,Office Supplies,Supplies,"Elite Trimmer, Steel",123.21,3,0.0,60.30
2930,2931,ES-2015-2410472,21/07/2015,21/07/2015,Same Day,TH-21235,Tiffany House,Corporate,Vantaa,Uusimaa,Finland,North,OFF-SU-10001879,Office Supplies,Supplies,"Acme Trimmer, High Speed",178.32,4,0.0,51.60
3636,3637,ES-2016-3471823,30/06/2016,04/07/2016,Standard Class,CK-12760,Cyma Kinney,Corporate,Espoo,Uusimaa,Finland,North,FUR-CH-10002053,Furniture,Chairs,"Novimex Chairmat, Set of Two",292.95,5,0.0,46.80
3637,3638,ES-2016-3471823,30/06/2016,04/07/2016,Standard Class,CK-12760,Cyma Kinney,Corporate,Espoo,Uusimaa,Finland,North,TEC-PH-10001664,Technology,Phones,"Motorola Office Telephone, VoIP",215.55,3,0.0,94.77
3638,3639,ES-2016-3471823,30/06/2016,04/07/2016,Standard Class,CK-12760,Cyma Kinney,Corporate,Espoo,Uusimaa,Finland,North,OFF-AR-10000727,Office Supplies,Art,"Stanley Canvas, Easy-Erase",99.48,2,0.0,23.82
4462,4463,ES-2017-4334154,09/09/2017,13/09/2017,Standard Class,MC-17635,Matthew Clasen,Corporate,Helsinki,Uusimaa,Finland,North,FUR-BO-10004430,Furniture,Bookcases,"Bush Floating Shelf Set, Metal",341.46,2,0.0,30.72
5016,5017,ES-2015-4816650,22/10/2015,28/10/2015,Standard Class,YS-21880,Yana Sorensen,Corporate,Helsinki,Uusimaa,Finland,North,OFF-PA-10004267,Office Supplies,Paper,"Enermax Parchment Paper, 8.5 x 11",117.18,6,0.0,32.76
5017,5018,ES-2015-4816650,22/10/2015,28/10/2015,Standard Class,YS-21880,Yana Sorensen,Corporate,Helsinki,Uusimaa,Finland,North,OFF-AR-10001777,Office Supplies,Art,"Binney & Smith Sketch Pad, Water Color",247.50,5,0.0,81.60
5018,5019,ES-2015-4816650,22/10/2015,28/10/2015,Standard Class,YS-21880,Yana Sorensen,Corporate,Helsinki,Uusimaa,Finland,North,FUR-FU-10000225,Furniture,Furnishings,"Rubbermaid Photo Frame, Durable",292.68,6,0.0,14.58
6557,6558,ES-2018-3645637,24/10/2018,24/10/2018,Same Day,AR-10345,Alex Russell,Corporate,Kotka,Kymenlaakso,Finland,North,FUR-CH-10002030,Furniture,Chairs,"Office Star Swivel Stool, Red",173.94,1,0.0,8.67
9980,9981,ES-2015-3081212,28/08/2015,04/09/2015,Standard Class,VW-21775,Victoria Wilson,Corporate,Helsinki,Uusimaa,Finland,North,FUR-CH-10001831,Furniture,Chairs,"Novimex Rocking Chair, Set of Two",267.36,2,0.0,29.40
9981,9982,ES-2015-3081212,28/08/2015,04/09/2015,Standard Class,VW-21775,Victoria Wilson,Corporate,Helsinki,Uusimaa,Finland,North,OFF-LA-10003290,Office Supplies,Labels,"Hon Round Labels, Adjustable",9.12,2,0.0,3.24
9982,9983,ES-2015-3081212,28/08/2015,04/09/2015,Standard Class,VW-21775,Victoria Wilson,Corporate,Helsinki,Uusimaa,Finland,North,OFF-AP-10002238,Office Supplies,Appliances,"Hoover Coffee Grinder, Red",275.16,4,0.0,8.16

In [40]:
df[final_condition].shape

(16, 20)

In [41]:
#lets create a dynamic condition
df['Sales'].max()

7958.58

In [42]:
df['Sales'].mean()

293.8089061500001

In [43]:
# I want all the records of all the sales higher than average

df[df['Sales'] > df['Sales'].mean()]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,2,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004144,Technology,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.920,7,0.0,0.000
4,5,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004068,Technology,Accessories,"Memorex Memory Card, USB",307.440,3,0.0,73.710
6,7,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-PH-10003963,Technology,Phones,"Apple Signal Booster, Full Size",413.820,3,0.0,20.610
7,8,ES-2016-5113958,02/08/2016,07/08/2016,Second Class,EB-13840,Ellis Ballard,Corporate,West Bromwich,England,United Kingdom,North,TEC-CO-10004325,Technology,Copiers,"Canon Personal Copier, Laser",428.220,3,0.0,192.690
8,9,ES-2016-5113958,02/08/2016,07/08/2016,Second Class,EB-13840,Ellis Ballard,Corporate,West Bromwich,England,United Kingdom,North,OFF-AP-10004512,Office Supplies,Appliances,"Hoover Stove, Red",3979.290,7,0.0,1989.540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9985,9986,ES-2016-4227357,17/04/2016,22/04/2016,Standard Class,MG-18145,Mike Gockenbach,Consumer,Langenhagen,Lower Saxony,Germany,Central,TEC-PH-10000493,Technology,Phones,"Apple Smart Phone, Full Size",1912.500,3,0.0,535.500
9986,9987,ES-2016-4227357,17/04/2016,22/04/2016,Standard Class,MG-18145,Mike Gockenbach,Consumer,Langenhagen,Lower Saxony,Germany,Central,OFF-ST-10001758,Office Supplies,Storage,"Rogers Lockers, Blue",571.374,3,0.1,-19.116
9990,9991,ES-2018-5488768,07/02/2018,10/02/2018,First Class,SN-20710,Steve Nguyen,Home Office,Northampton,England,United Kingdom,North,FUR-CH-10002373,Furniture,Chairs,"Office Star Rocking Chair, Set of Two",429.480,3,0.0,17.100
9991,9992,ES-2018-4951531,17/09/2018,21/09/2018,Second Class,JF-15565,Jill Fjeld,Consumer,Preston,England,United Kingdom,North,FUR-BO-10002003,Furniture,Bookcases,"Sauder Classic Bookcase, Metal",870.900,2,0.0,130.620
9998,9999,ES-2016-5371207,25/01/2016,29/01/2016,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,TEC-PH-10001664,Technology,Phones,"Motorola Office Telephone, VoIP",502.950,7,0.0,221.130

In [44]:
# or we can do like this too

average_sales = df['Sales'].mean()
condition = df['Sales'] > average_sales

In [45]:
condition

0       False
1        True
2       False
3       False
4        True
        ...
9995    False
9996    False
9997    False
9998     True
9999    False
Name: Sales, Length: 10000, dtype: bool

In [46]:
df[condition]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,2,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004144,Technology,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.920,7,0.0,0.000
4,5,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004068,Technology,Accessories,"Memorex Memory Card, USB",307.440,3,0.0,73.710
6,7,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-PH-10003963,Technology,Phones,"Apple Signal Booster, Full Size",413.820,3,0.0,20.610
7,8,ES-2016-5113958,02/08/2016,07/08/2016,Second Class,EB-13840,Ellis Ballard,Corporate,West Bromwich,England,United Kingdom,North,TEC-CO-10004325,Technology,Copiers,"Canon Personal Copier, Laser",428.220,3,0.0,192.690
8,9,ES-2016-5113958,02/08/2016,07/08/2016,Second Class,EB-13840,Ellis Ballard,Corporate,West Bromwich,England,United Kingdom,North,OFF-AP-10004512,Office Supplies,Appliances,"Hoover Stove, Red",3979.290,7,0.0,1989.540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9985,9986,ES-2016-4227357,17/04/2016,22/04/2016,Standard Class,MG-18145,Mike Gockenbach,Consumer,Langenhagen,Lower Saxony,Germany,Central,TEC-PH-10000493,Technology,Phones,"Apple Smart Phone, Full Size",1912.500,3,0.0,535.500
9986,9987,ES-2016-4227357,17/04/2016,22/04/2016,Standard Class,MG-18145,Mike Gockenbach,Consumer,Langenhagen,Lower Saxony,Germany,Central,OFF-ST-10001758,Office Supplies,Storage,"Rogers Lockers, Blue",571.374,3,0.1,-19.116
9990,9991,ES-2018-5488768,07/02/2018,10/02/2018,First Class,SN-20710,Steve Nguyen,Home Office,Northampton,England,United Kingdom,North,FUR-CH-10002373,Furniture,Chairs,"Office Star Rocking Chair, Set of Two",429.480,3,0.0,17.100
9991,9992,ES-2018-4951531,17/09/2018,21/09/2018,Second Class,JF-15565,Jill Fjeld,Consumer,Preston,England,United Kingdom,North,FUR-BO-10002003,Furniture,Bookcases,"Sauder Classic Bookcase, Metal",870.900,2,0.0,130.620
9998,9999,ES-2016-5371207,25/01/2016,29/01/2016,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,TEC-PH-10001664,Technology,Phones,"Motorola Office Telephone, VoIP",502.950,7,0.0,221.130

In [47]:
# thinking about the implications of this last statement in big data

In [48]:
#@title Creating custom defined columns

In [49]:
df['Cost'] = df['Sales'] - df['Profit']

In [50]:
df['Cost']

0        39.60
1       388.92
2        19.08
3        37.74
4       233.73
         ...
9995     35.94
9996      6.09
9997     67.68
9998    281.82
9999    102.06
Name: Cost, Length: 10000, dtype: float64

In [51]:
df['Cost'].mean()

256.525932

In [52]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Cost
0,1,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,North,OFF-ST-10000988,Office Supplies,Storage,"Fellowes Folders, Blue",79.20,3,0.0,39.60,39.60
1,2,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,North,TEC-AC-10004144,Technology,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.92,7,0.0,0.00,388.92
2,3,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,North,OFF-LA-10001915,Office Supplies,Labels,"Avery Legal Exhibit Labels, 5000 Label Set",35.19,3,0.0,16.11,19.08
3,4,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,North,OFF-ST-10004550,Office Supplies,Storage,"Fellowes Folders, Wire Frame",50.94,2,0.0,13.20,37.74
4,5,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,North,TEC-AC-10004068,Technology,Accessories,"Memorex Memory Card, USB",307.44,3,0.0,73.71,233.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,ES-2015-3780358,16/11/2015,19/11/2015,First Class,CC-12100,Chad Cunningham,Home Office,Rovigo,Veneto,...,South,OFF-BI-10000346,Office Supplies,Binders,"Ibico 3-Hole Punch, Clear",59.82,2,0.0,23.88,35.94
9996,9997,ES-2016-5371207,25/01/2016,29/01/2016,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,...,Central,OFF-BI-10002083,Office Supplies,Binders,"Acco Hole Reinforcements, Economy",6.66,1,0.0,0.57,6.09
9997,9998,ES-2016-5371207,25/01/2016,29/01/2016,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,...,Central,OFF-SU-10003211,Office Supplies,Supplies,"Acme Ruler, Steel",96.66,6,0.0,28.98,67.68
9998,9999,ES-2016-5371207,25/01/2016,29/01/2016,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,...,Central,TEC-PH-10001664,Technology,Phones,"Motorola Office Telephone, VoIP",502.95,7,0.0,221.13,281.82
9999,10000,ES-2016-5371207,25/01/2016,29/01/2016,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,...,Central,OFF-AR-10001228,Office Supplies,Art,"Stanley Markers, Water Color",152.28,6,0.0,50.22,102.06

In [53]:
# Sometimes you want to calculate a new field which results from complex calculations derived from on more fields

# We can do a for loop
%time
for index, row in df.iterrows():
  row['Sales'] - row['Profit']

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 9.54 µs

In [54]:
%time
df['Sales'] - df['Profit']

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.34 µs

0        39.60
1       388.92
2        19.08
3        37.74
4       233.73
         ...
9995     35.94
9996      6.09
9997     67.68
9998    281.82
9999    102.06
Length: 10000, dtype: float64

In [55]:
#This method is not good in the context of big data

def complex_function(sales, profits):
  return sales-profits

aList = []

for i,r in df.iterrows():
  aList.append(complex_function(row['Sales'], row['Profit']))

In [56]:
len(aList)

10000

In [57]:
# in the context of big data we wouldnt want to load all the rows into memory to then do a for loop

# we use the concept of apply
#we want to extract the year component from the data

def complex_function(order_date):
  
  try:
    result = str(order_date)[6:10]
  except:
     result = None
  return result

#after defining the function always test in a row

complex_function('07/07/2017')

'2017'

In [58]:
# now we want to apply the function above row by row in a pandas manner

df['Year of Order'] = df['Order Date'].apply(complex_function)

In [59]:
df['Year of Order']

0       2018
1       2018
2       2018
3       2018
4       2018
        ...
9995    2015
9996    2016
9997    2016
9998    2016
9999    2016
Name: Year of Order, Length: 10000, dtype: object

In [60]:
df['Year of Order'] = df['Order Date'].apply(lambda x: int(str(x[6:10])))

In [61]:
df['Year of Order']

0       2018
1       2018
2       2018
3       2018
4       2018
        ...
9995    2015
9996    2016
9997    2016
9998    2016
9999    2016
Name: Year of Order, Length: 10000, dtype: int64

In [62]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Cost,Year of Order
0,1,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,OFF-ST-10000988,Office Supplies,Storage,"Fellowes Folders, Blue",79.20,3,0.0,39.60,39.60,2018
1,2,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,TEC-AC-10004144,Technology,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.92,7,0.0,0.00,388.92,2018
2,3,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,OFF-LA-10001915,Office Supplies,Labels,"Avery Legal Exhibit Labels, 5000 Label Set",35.19,3,0.0,16.11,19.08,2018
3,4,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,OFF-ST-10004550,Office Supplies,Storage,"Fellowes Folders, Wire Frame",50.94,2,0.0,13.20,37.74,2018
4,5,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,TEC-AC-10004068,Technology,Accessories,"Memorex Memory Card, USB",307.44,3,0.0,73.71,233.73,2018

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         10000 non-null  int64
 1   Order ID       10000 non-null  object
 2   Order Date     10000 non-null  object
 3   Ship Date      10000 non-null  object
 4   Ship Mode      10000 non-null  object
 5   Customer ID    10000 non-null  object
 6   Customer Name  10000 non-null  object
 7   Segment        10000 non-null  object
 8   City           10000 non-null  object
 9   State          10000 non-null  object
 10  Country        10000 non-null  object
 11  Region         10000 non-null  object
 12  Product ID     10000 non-null  object
 13  Category       10000 non-null  object
 14  Sub-Category   10000 non-null  object
 15  Product Name   10000 non-null  object
 16  Sales          10000 non-null  float64
 17  Quantity       10000 non-null  int64
 18  Discount       10000 non-null  float64
 19  Profit         10000 non-null  float64
 20  Cost           10000 non-null  float64
 21  Year of Order  10000 non-null  int64
dtypes: float64(4), int64(3), object(15)
memory usage: 1.7+ MB

In [64]:
for sale, profit in df[['Sales', 'Profit']].head().iterrows():
  print(sale, profit)

0 Sales     79.2
Profit    39.6
Name: 0, dtype: float64
1 Sales     388.92
Profit      0.00
Name: 1, dtype: float64
2 Sales     35.19
Profit    16.11
Name: 2, dtype: float64
3 Sales     50.94
Profit    13.20
Name: 3, dtype: float64
4 Sales     307.44
Profit     73.71
Name: 4, dtype: float64

In [65]:
# more complex usecase whereby our 'complex function' receives multiple inputs

def more_complex_function(sales, profit):
  return sales - profit
df['new column'] = df.apply(lambda x : more_complex_function(x['Sales'], x['Profit']), axis = 1)

In [66]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Cost,Year of Order,new column
0,1,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,Office Supplies,Storage,"Fellowes Folders, Blue",79.20,3,0.0,39.60,39.60,2018,39.60
1,2,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,Technology,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.92,7,0.0,0.00,388.92,2018,388.92
2,3,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,Office Supplies,Labels,"Avery Legal Exhibit Labels, 5000 Label Set",35.19,3,0.0,16.11,19.08,2018,19.08
3,4,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,Office Supplies,Storage,"Fellowes Folders, Wire Frame",50.94,2,0.0,13.20,37.74,2018,37.74
4,5,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,Technology,Accessories,"Memorex Memory Card, USB",307.44,3,0.0,73.71,233.73,2018,233.73

In [67]:
def even_more_complex_function(sales, profit, multiplier):
  return multiplier * (sales - profit)
df['multiplied new column'] = df.apply(lambda x: even_more_complex_function(x['Sales'], x['Profit'], 3), axis = 1)

In [68]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Cost,Year of Order,new column,multiplied new column
0,1,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,Storage,"Fellowes Folders, Blue",79.20,3,0.0,39.60,39.60,2018,39.60,118.80
1,2,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.92,7,0.0,0.00,388.92,2018,388.92,1166.76
2,3,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,Labels,"Avery Legal Exhibit Labels, 5000 Label Set",35.19,3,0.0,16.11,19.08,2018,19.08,57.24
3,4,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,Storage,"Fellowes Folders, Wire Frame",50.94,2,0.0,13.20,37.74,2018,37.74,113.22
4,5,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,Accessories,"Memorex Memory Card, USB",307.44,3,0.0,73.71,233.73,2018,233.73,701.19

In [69]:
#@title Aggregations

In [70]:
# Basically turning multiple rows in less row, for example:
print(round(df['Sales'].sum(), 2),',',df['Sales'].max())

2938089.06 , 7958.58

In [71]:
# the operations used to aggregate doesn't affect the level of the aggregation

In [72]:
# concept of groupby -> performing aggregations but 
#at a level of detail that corresponds to "groups" of a certain variable

In [73]:
df.groupby(by ='Country')['Sales'].sum().reset_index().sort_values(by='Sales', ascending=False)

           Country        Sales
4           France  858931.0830
5          Germany  628840.0305
14  United Kingdom  528576.3000
7            Italy  289709.6580
11           Spain  287146.6800
0          Austria   81162.0000
8      Netherlands   77514.9450
1          Belgium   49226.7000
12          Sweden   30491.4030
13     Switzerland   24877.8600
3          Finland   20704.3500
9           Norway   20525.3700
6          Ireland   16639.5090
10        Portugal   15105.1200
2          Denmark    8638.0530

In [74]:
df.groupby(by = ['Country', 'City']).sum()

                              Row ID     Sales  Quantity  Discount    Profit  \
Country        City
Austria        Graz            44820  4440.300        40       0.0  1277.190
               Innsbruck      106397  6219.030        47       0.0  2065.410
               Klagenfurt      27874  2897.100        24       0.0   551.610
               Linz            51577  4380.000        50       0.0  1260.510
               Salzburg        27448  1358.010        24       0.0   460.260
...                              ...       ...       ...       ...       ...
United Kingdom Woking          29256  5368.890        21       0.0   937.200
               Wolverhampton  163065  8440.881        99       0.6  2115.831
               Worcester       24636  3526.320        37       0.3   770.340
               Worthing        14165  1390.080        14       0.0   281.700
               York            55434  2939.376        42       0.3   700.896

                                 Cost  Year of Order  new column  \
Country        City
Austria        Graz           3163.11          18150     3163.11
               Innsbruck      4153.62          30239     4153.62
               Klagenfurt     2345.49          14119     2345.49
               Linz           3119.49          26217     3119.49
               Salzburg        897.75          12105      897.75
...                               ...            ...         ...
United Kingdom Woking         4431.69          12097     4431.69
               Wolverhampton  6325.05          48407     6325.05
               Worcester      2755.98          16123     2755.98
               Worthing       1108.38           8066     1108.38
               York           2238.48          20169     2238.48

                              multiplied new column
Country        City
Austria        Graz                         9489.33
               Innsbruck                   12460.86
               Klagenfurt                   7036.47
               Linz                         9358.47
               Salzburg                     2693.25
...                                             ...
United Kingdom Woking                      13295.07
               Wolverhampton               18975.15
               Worcester                    8267.94
               Worthing                     3325.14
               York                         6715.44

[1069 rows x 9 columns]

In [75]:
grouped_country = df.groupby('Country')[['Sales', 'Profit']].sum()

In [76]:
grouped_country

                      Sales       Profit
Country
Austria          81162.0000   21442.2600
Belgium          49226.7000   11572.5900
Denmark           8638.0530   -4282.0470
Finland          20704.3500    3905.7300
France          858931.0830  109029.0030
Germany         628840.0305  107322.8205
Ireland          16639.5090   -7392.3810
Italy           289709.6580   19828.7580
Netherlands      77514.9450  -41070.0750
Norway           20525.3700    5167.7700
Portugal         15105.1200   -8703.0600
Spain           287146.6800   54390.1200
Sweden           30491.4030  -17519.3670
Switzerland      24877.8600    7237.4700
United Kingdom  528576.3000  111900.1500

In [77]:
type(grouped_country)

pandas.core.frame.DataFrame

In [78]:
grouped_country.columns

Index(['Sales', 'Profit'], dtype='object')

In [79]:
grouped_country.index

Index(['Austria', 'Belgium', 'Denmark', 'Finland', 'France', 'Germany',
       'Ireland', 'Italy', 'Netherlands', 'Norway', 'Portugal', 'Spain',
       'Sweden', 'Switzerland', 'United Kingdom'],
      dtype='object', name='Country')

In [80]:
grouped_country = grouped_country.reset_index()

In [81]:
grouped_country

           Country        Sales       Profit
0          Austria   81162.0000   21442.2600
1          Belgium   49226.7000   11572.5900
2          Denmark    8638.0530   -4282.0470
3          Finland   20704.3500    3905.7300
4           France  858931.0830  109029.0030
5          Germany  628840.0305  107322.8205
6          Ireland   16639.5090   -7392.3810
7            Italy  289709.6580   19828.7580
8      Netherlands   77514.9450  -41070.0750
9           Norway   20525.3700    5167.7700
10        Portugal   15105.1200   -8703.0600
11           Spain  287146.6800   54390.1200
12          Sweden   30491.4030  -17519.3670
13     Switzerland   24877.8600    7237.4700
14  United Kingdom  528576.3000  111900.1500

In [82]:
df_grouped_segment = df.groupby(by= ['Country', 'Segment']).sum()

In [83]:
df_grouped_segment

                             Row ID        Sales  Quantity  Discount  \
Country        Segment
Austria        Consumer      698673   43522.8000       516      0.00
               Corporate     403708   22306.9800       272      0.00
               Home Office   310977   15332.2200       209      0.00
Belgium        Consumer      309776   24916.8300       252      0.00
               Corporate     322121   15800.8800       225      0.00
               Home Office   135684    8508.9900        98      0.00
Denmark        Consumer      235093    6469.6020       168     23.90
               Corporate      36792    2016.1560        44      7.60
               Home Office    16200     152.2950         8      1.50
Finland        Consumer      233794   15273.4800       119      0.00
               Corporate      76153    3020.7600        55      0.00
               Home Office    25824    2410.1100        27      0.00
France         Consumer     7420255  434394.0885      5520    107.45
               Corporate    4290087  282105.9210      3385     65.10
               Home Office  2388840  142431.0735      1899     31.80
Germany        Consumer     5430544  343494.8730      4161     65.45
               Corporate    2724864  174895.1025      2276     32.80
               Home Office  1943138  110450.0550      1308     19.55
Ireland        Consumer      436338    9868.4850       263     32.60
               Corporate      97721    3185.0490        81     10.70
               Home Office   124035    3585.9750        70     10.00
Italy          Consumer     2658372  146703.8130      2055     65.90
               Corporate    2015697  100022.2410      1352     47.80
               Home Office   898253   42983.6040       719     24.00
Netherlands    Consumer     1308607   51288.7920       990    120.50
               Corporate     529407   12633.8070       371     49.90
               Home Office   349368   13592.3460       321     39.20
Norway         Consumer      177641    8022.1200       127      0.00
               Corporate     117799   10763.8200        95      0.00
               Home Office    70761    1739.4300        39      0.00
Portugal       Consumer      244796    7073.1600       178     23.50
               Corporate      86053    7963.1700       106     11.00
               Home Office     8628      68.7900         2      0.50
Spain          Consumer     2339627  141901.2840      1637     14.70
               Corporate    1288128   99649.6230      1005      8.80
               Home Office   725263   45595.7730       598      6.40
Sweden         Consumer      447920   13113.1050       310     45.20
               Corporate     361820    9909.7380       319     39.70
               Home Office   237396    7468.5600       124     18.20
Switzerland    Consumer      214953   13564.6800       198      0.00
               Corporate     139441    9191.3400        79      0.00
               Home Office    72112    2121.8400        31      0.00
United Kingdom Consumer     4029310  270109.1250      3047     56.80
               Corporate    2449685  166543.6920      1970     32.70
               Home Office  1573346   91923.4830      1144     17.80

                                Profit       Cost  Year of Order  new column  \
Country        Segment
Austria        Consumer     12047.0100   31475.79         282355    31475.79
               Corporate     6019.2000   16287.78         153256    16287.78
               Home Office   3376.0500   11956.17         108889    11956.17
Belgium        Consumer      5582.8800   19333.95         123010    19333.95
               Corporate     3328.2900   12472.59         121027    12472.59
               Home Office   2661.4200    5847.57          52449     5847.57
Denmark        Consumer     -3042.4080    9512.01          94795     9512.01
               Corporate    -1155.2340    3171.39          30258     3171.39
               Home Office    -84.4050     236.70           6051      236.70
Finland        Consumer      2476.7100   12796.77          78639    12796.77
               Corporate      598.6500    2422.11          32251     2422.11
               Home Office    830.3700    1579.74          18149     1579.74
France         Consumer     50318.3685  384075.72        2934570   384075.72
               Corporate    37105.5510  245000.37        1782929   245000.37
               Home Office  21605.0835  120825.99         984165   120825.99
Germany        Consumer     67034.4930  276460.38        2226411   276460.38
               Corporate    25789.9125  149105.19        1216077   149105.19
               Home Office  14498.4150   95951.64         722000    95951.64
Ireland        Consumer     -3805.9650   13674.45         131095    13674.45
               Corporate    -1478.0010    4663.05          42353     4663.05
               Home Office  -2108.4150    5694.39          40336     5694.39
Italy          Consumer      9532.0530  137171.76        1121298   137171.76
               Corporate     6746.4810   93275.76         742149    93275.76
               Home Office   3550.2240   39433.38         371087    39433.38
Netherlands    Consumer    -27751.1580   79039.95         504201    79039.95
               Corporate    -5878.3230   18512.13         207743    18512.13
               Home Office  -7440.5940   21032.94         165385    21032.94
Norway         Consumer      1686.6300    6335.49          68575     6335.49
               Corporate     3176.5200    7587.30          52444     7587.30
               Home Office    304.6200    1434.81          20171     1434.81
Portugal       Consumer     -3279.9900   10353.15          94777    10353.15
               Corporate    -5358.3600   13321.53          44367    13321.53
               Home Office    -64.7100     133.50           2017      133.50
Spain          Consumer     25948.8240  115952.46         879334   115952.46
               Corporate    19459.2630   80190.36         542561    80190.36
               Home Office   8982.0330   36613.74         310575    36613.74
Sweden         Consumer     -6932.4150   20045.52         179516    20045.52
               Corporate    -4783.2720   14693.01         157314    14693.01
               Home Office  -5803.6800   13272.24          72614    13272.24
Switzerland    Consumer      4017.6600    9547.02          94768     9547.02
               Corporate     2823.2400    6368.10          42345     6368.10
               Home Office    396.5700    1725.27          20177     1725.27
United Kingdom Consumer     54855.0150  215254.11        1645697   215254.11
               Corporate    37000.0620  129543.63        1038691   129543.63
               Home Office  20045.0730   71878.41         609109    71878.41

                            multiplied new column
Country        Segment
Austria        Consumer                  94427.37
               Corporate                 48863.34
               Home Office               35868.51
Belgium        Consumer                  58001.85
               Corporate                 37417.77
               Home Office               17542.71
Denmark        Consumer                  28536.03
               Corporate                  9514.17
               Home Office                 710.10
Finland        Consumer                  38390.31
               Corporate                  7266.33
               Home Office                4739.22
France         Consumer                1152227.16
               Corporate                735001.11
               Home Office              362477.97
Germany        Consumer                 829381.14
               Corporate                447315.57
               Home Office              287854.92
Ireland        Consumer                  41023.35
               Corporate                 13989.15
               Home Office               17083.17
Italy          Consumer                 411515.28
               Corporate                279827.28
               Home Office              118300.14
Netherlands    Consumer                 237119.85
               Corporate                 55536.39
               Home Office               63098.82
Norway         Consumer                  19006.47
               Corporate                 22761.90
               Home Office                4304.43
Portugal       Consumer                  31059.45
               Corporate                 39964.59
               Home Office                 400.50
Spain          Consumer                 347857.38
               Corporate                240571.08
               Home Office              109841.22
Sweden         Consumer                  60136.56
               Corporate                 44079.03
               Home Office               39816.72
Switzerland    Consumer                  28641.06
               Corporate                 19104.30
               Home Office                5175.81
United Kingdom Consumer                 645762.33
               Corporate                388630.89
               Home Office              215635.23

In [84]:
df_grouped_segment.index

MultiIndex([(       'Austria',    'Consumer'),
            (       'Austria',   'Corporate'),
            (       'Austria', 'Home Office'),
            (       'Belgium',    'Consumer'),
            (       'Belgium',   'Corporate'),
            (       'Belgium', 'Home Office'),
            (       'Denmark',    'Consumer'),
            (       'Denmark',   'Corporate'),
            (       'Denmark', 'Home Office'),
            (       'Finland',    'Consumer'),
            (       'Finland',   'Corporate'),
            (       'Finland', 'Home Office'),
            (        'France',    'Consumer'),
            (        'France',   'Corporate'),
            (        'France', 'Home Office'),
            (       'Germany',    'Consumer'),
            (       'Germany',   'Corporate'),
            (       'Germany', 'Home Office'),
            (       'Ireland',    'Consumer'),
            (       'Ireland',   'Corporate'),
            (       'Ireland', 'Home Office'),
            (         'Italy',    'Consumer'),
            (         'Italy',   'Corporate'),
            (         'Italy', 'Home Office'),
            (   'Netherlands',    'Consumer'),
            (   'Netherlands',   'Corporate'),
            (   'Netherlands', 'Home Office'),
            (        'Norway',    'Consumer'),
            (        'Norway',   'Corporate'),
            (        'Norway', 'Home Office'),
            (      'Portugal',    'Consumer'),
            (      'Portugal',   'Corporate'),
            (      'Portugal', 'Home Office'),
            (         'Spain',    'Consumer'),
            (         'Spain',   'Corporate'),
            (         'Spain', 'Home Office'),
            (        'Sweden',    'Consumer'),
            (        'Sweden',   'Corporate'),
            (        'Sweden', 'Home Office'),
            (   'Switzerland',    'Consumer'),
            (   'Switzerland',   'Corporate'),
            (   'Switzerland', 'Home Office'),
            ('United Kingdom',    'Consumer'),
            ('United Kingdom',   'Corporate'),
            ('United Kingdom', 'Home Office')],
           names=['Country', 'Segment'])

In [85]:
#@title value_counts()

In [86]:
df['Segment'].value_counts()

Consumer       5186
Corporate      3077
Home Office    1737
Name: Segment, dtype: int64

In [87]:
df['Country'].value_counts()

France            2827
Germany           2065
United Kingdom    1633
Italy             1108
Spain              859
Netherlands        435
Austria            270
Sweden             203
Belgium            147
Ireland            106
Switzerland         78
Portugal            70
Norway              70
Denmark             65
Finland             64
Name: Country, dtype: int64

In [88]:
segment_counts = df['Segment'].value_counts().reset_index().rename(columns={'index':'Segment', 'Segment':'Count'})

In [89]:
segment_counts

       Segment  Count
0     Consumer   5186
1    Corporate   3077
2  Home Office   1737

In [90]:
segment_counts.max()

Segment    Home Office
Count             5186
dtype: object

In [91]:
country_counts = df['Country'].value_counts().reset_index().rename(columns={'index':'Country', 'Country':'Count'})

In [92]:
country_counts

           Country  Count
0           France   2827
1          Germany   2065
2   United Kingdom   1633
3            Italy   1108
4            Spain    859
5      Netherlands    435
6          Austria    270
7           Sweden    203
8          Belgium    147
9          Ireland    106
10     Switzerland     78
11        Portugal     70
12          Norway     70
13         Denmark     65
14         Finland     64

In [93]:
country_counts.sort_values(by=['Count'], axis=0)

           Country  Count
14         Finland     64
13         Denmark     65
11        Portugal     70
12          Norway     70
10     Switzerland     78
9          Ireland    106
8          Belgium    147
7           Sweden    203
6          Austria    270
5      Netherlands    435
4            Spain    859
3            Italy   1108
2   United Kingdom   1633
1          Germany   2065
0           France   2827

In [94]:
df_grouped_segment.head()

                     Row ID     Sales  Quantity  Discount    Profit      Cost  \
Country Segment
Austria Consumer     698673  43522.80       516       0.0  12047.01  31475.79
        Corporate    403708  22306.98       272       0.0   6019.20  16287.78
        Home Office  310977  15332.22       209       0.0   3376.05  11956.17
Belgium Consumer     309776  24916.83       252       0.0   5582.88  19333.95
        Corporate    322121  15800.88       225       0.0   3328.29  12472.59

                     Year of Order  new column  multiplied new column
Country Segment
Austria Consumer            282355    31475.79               94427.37
        Corporate           153256    16287.78               48863.34
        Home Office         108889    11956.17               35868.51
Belgium Consumer            123010    19333.95               58001.85
        Corporate           121027    12472.59               37417.77

In [95]:
df.drop(columns=['new column', 'multiplied new column'], inplace=True)

In [96]:
df_grouped_segment.drop(columns=['new column', 'multiplied new column'], inplace=True)

In [97]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Cost,Year of Order
0,1,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,OFF-ST-10000988,Office Supplies,Storage,"Fellowes Folders, Blue",79.20,3,0.0,39.60,39.60,2018
1,2,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,TEC-AC-10004144,Technology,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.92,7,0.0,0.00,388.92,2018
2,3,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,OFF-LA-10001915,Office Supplies,Labels,"Avery Legal Exhibit Labels, 5000 Label Set",35.19,3,0.0,16.11,19.08,2018
3,4,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,OFF-ST-10004550,Office Supplies,Storage,"Fellowes Folders, Wire Frame",50.94,2,0.0,13.20,37.74,2018
4,5,ES-2018-1311038,07/02/2018,11/02/2018,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,...,TEC-AC-10004068,Technology,Accessories,"Memorex Memory Card, USB",307.44,3,0.0,73.71,233.73,2018

In [98]:
df.sort_values(by=['Country','Sales'], ascending=[False, True])

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Cost,Year of Order
6627,6628,ES-2016-4572658,15/07/2016,20/07/2016,Standard Class,CJ-11875,Carl Jackson,Corporate,Sheffield,England,...,OFF-EN-10001991,Office Supplies,Envelopes,"Kraft Clasp Envelope, Set of 50",4.500,1,0.5,-4.500,9.00,2016
3267,3268,IT-2017-5843979,09/11/2017,16/11/2017,Standard Class,HF-14995,Herbert Flentye,Consumer,Birmingham,England,...,OFF-LA-10000760,Office Supplies,Labels,"Harbour Creations Removable Labels, Laser Prin...",5.085,1,0.5,-0.525,5.61,2017
8929,8930,IT-2017-1476473,24/06/2017,29/06/2017,Standard Class,RA-19885,Ruben Ausman,Corporate,Blackpool,England,...,OFF-BI-10000267,Office Supplies,Binders,"Ibico Hole Reinforcements, Clear",6.450,1,0.0,2.490,3.96,2017
9831,9832,ES-2015-2140658,26/03/2015,28/03/2015,Second Class,TB-21190,Thomas Brumley,Home Office,Sheffield,England,...,OFF-FA-10001054,Office Supplies,Fasteners,"Advantus Thumb Tacks, Metal",6.855,1,0.5,-4.275,11.13,2015
6093,6094,IT-2018-1391329,05/09/2018,05/09/2018,Same Day,MG-17890,Michael Granlund,Home Office,Sheffield,England,...,OFF-LA-10002029,Office Supplies,Labels,"Hon Round Labels, 5000 Label Set",7.050,2,0.5,-2.550,9.60,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3980,3981,ES-2017-1608190,28/06/2017,04/07/2017,Standard Class,PS-19045,Penelope Sewall,Home Office,Klagenfurt,Carinthia,...,OFF-AP-10003259,Office Supplies,Appliances,"Cuisinart Refrigerator, Silver",1987.320,4,0.0,337.800,1649.52,2017
7085,7086,ES-2015-1858721,12/06/2015,15/06/2015,First Class,SC-20845,Sung Chung,Consumer,Vienna,Vienna,...,FUR-BO-10003103,Furniture,Bookcases,"Ikea Classic Bookcase, Metal",2056.050,5,0.0,390.600,1665.45,2015
6609,6610,ES-2017-4184078,03/07/2017,05/07/2017,First Class,RS-19765,Roland Schwarz,Corporate,Vienna,Vienna,...,OFF-AP-10000802,Office Supplies,Appliances,"Hoover Microwave, White",2147.460,7,0.0,579.810,1567.65,2017
1740,1741,ES-2017-2903666,27/11/2017,29/11/2017,First Class,NF-18385,Natalie Fritzler,Consumer,Graz,Styria,...,FUR-BO-10001133,Furniture,Bookcases,"Ikea Classic Bookcase, Mobile",2899.890,7,0.0,927.780,1972.11,2017
709,710,ES-2018-3977309,12/11/2018,16/11/2018,Standard Class,DL-13315,Delfina Latchford,Consumer,Villach,Carinthia,...,FUR-CH-10004774,Furniture,Chairs,"Novimex Executive Leather Armchair, Red",3221.400,7,0.0,1127.490,2093.91,2018

In [99]:
# if I want to know the country with max amount of rows

df['Country'].value_counts(ascending=False)

France            2827
Germany           2065
United Kingdom    1633
Italy             1108
Spain              859
Netherlands        435
Austria            270
Sweden             203
Belgium            147
Ireland            106
Switzerland         78
Portugal            70
Norway              70
Denmark             65
Finland             64
Name: Country, dtype: int64

In [100]:
# if I want to know the country with max amount total sales

df.groupby('Country')['Sales'].sum().to_frame().sort_values('Sales', ascending=False).index[0]

'France'

In [101]:
df[df['Country'] == df.groupby('Country')['Sales'].sum().to_frame().sort_values('Sales', ascending=False).index[0]]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Cost,Year of Order
10,11,ES-2016-2510515,20/06/2016,20/06/2016,Same Day,LH-17155,Logan Haushalter,Consumer,Le Bouscat,Aquitaine-Limousin-Poitou-Charentes,...,OFF-LA-10002805,Office Supplies,Labels,"Hon Color Coded Labels, Alphabetical",25.260,2,0.00,0.480,24.78,2016
11,12,ES-2016-2510515,20/06/2016,20/06/2016,Same Day,LH-17155,Logan Haushalter,Consumer,Le Bouscat,Aquitaine-Limousin-Poitou-Charentes,...,OFF-AP-10002330,Office Supplies,Appliances,"Hamilton Beach Stove, Silver",2443.905,5,0.10,760.305,1683.60,2016
12,13,ES-2016-2510515,20/06/2016,20/06/2016,Same Day,LH-17155,Logan Haushalter,Consumer,Le Bouscat,Aquitaine-Limousin-Poitou-Charentes,...,OFF-AR-10000505,Office Supplies,Art,"Binney & Smith Pens, Easy-Erase",12.210,1,0.00,0.000,12.21,2016
13,14,ES-2016-2510515,20/06/2016,20/06/2016,Same Day,LH-17155,Logan Haushalter,Consumer,Le Bouscat,Aquitaine-Limousin-Poitou-Charentes,...,TEC-PH-10002898,Technology,Phones,"Samsung Smart Phone, Full Size",2167.296,4,0.15,790.416,1376.88,2016
14,15,ES-2016-2510515,20/06/2016,20/06/2016,Same Day,LH-17155,Logan Haushalter,Consumer,Le Bouscat,Aquitaine-Limousin-Poitou-Charentes,...,OFF-ST-10001413,Office Supplies,Storage,"Rogers Folders, Blue",138.105,5,0.10,-12.345,150.45,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9966,9967,IT-2015-2866156,13/12/2015,19/12/2015,Standard Class,BT-11485,Brad Thomas,Home Office,Cannes,Provence-Alpes-Côte d'Azur,...,TEC-PH-10000158,Technology,Phones,"Apple Signal Booster, VoIP",348.687,3,0.15,-20.583,369.27,2015
9967,9968,ES-2017-3584378,08/08/2017,12/08/2017,Standard Class,RB-19645,Robert Barroso,Corporate,Caen,Normandy,...,OFF-BI-10001754,Office Supplies,Binders,"Ibico Binder Covers, Recycled",28.020,2,0.00,10.320,17.70,2017
9968,9969,ES-2017-3584378,08/08/2017,12/08/2017,Standard Class,RB-19645,Robert Barroso,Corporate,Caen,Normandy,...,OFF-BI-10002354,Office Supplies,Binders,"Acco Binder, Clear",29.220,2,0.00,9.600,19.62,2017
9992,9993,ES-2018-2785118,14/04/2018,17/04/2018,Second Class,JH-16180,Justin Hirsh,Consumer,Castelnau-le-Lez,Languedoc-Roussillon-Midi-Pyrénées,...,OFF-PA-10001661,Office Supplies,Paper,"SanDisk Computer Printout Paper, 8.5 x 11",169.650,5,0.00,18.600,151.05,2018
9993,9994,ES-2017-2993189,02/07/2017,08/07/2017,Standard Class,CR-12820,Cyra Reiten,Home Office,Avignon,Provence-Alpes-Côte d'Azur,...,OFF-ST-10001255,Office Supplies,Storage,"Fellowes Trays, Single Width",51.678,1,0.10,22.968,28.71,2017

Warning: Total number of columns (22) exceeds max_columns (20) limiting to first (20) columns.

In [104]:
#@title Aggregation Window Functions

In [106]:
#sorting as a string not a date
df.sort_values(by='Order Date')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Cost,Year of Order
1436,1437,IT-2015-3647632,01/01/2015,05/01/2015,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,OFF-PA-10001492,Office Supplies,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,70.92,2015
1284,1285,ES-2014-1846006,01/01/2016,03/01/2016,First Class,ON-18715,Odella Nelson,Corporate,Paris,Ile-de-France,...,OFF-BI-10002083,Office Supplies,Binders,"Acco Hole Reinforcements, Economy",26.640,4,0.0,2.280,24.36,2016
1285,1286,ES-2014-1846006,01/01/2016,03/01/2016,First Class,ON-18715,Odella Nelson,Corporate,Paris,Ile-de-France,...,OFF-AP-10000977,Office Supplies,Appliances,"Breville Blender, White",245.673,3,0.1,29.943,215.73,2016
1286,1287,ES-2014-1846006,01/01/2016,03/01/2016,First Class,ON-18715,Odella Nelson,Corporate,Paris,Ile-de-France,...,FUR-BO-10001405,Furniture,Bookcases,"Bush Stackable Bookrack, Pine",674.244,6,0.1,217.224,457.02,2016
3403,3404,ES-2015-3083992,01/01/2017,03/01/2017,First Class,NP-18670,Nora Paige,Consumer,Lormont,Aquitaine-Limousin-Poitou-Charentes,...,FUR-BO-10003878,Furniture,Bookcases,"Safco Corner Shelving, Mobile",273.564,2,0.1,103.344,170.22,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5002,5003,ES-2018-5281275,31/12/2018,04/01/2019,Second Class,SS-20515,Shirley Schmidt,Home Office,Madrid,Madrid,...,TEC-CO-10002284,Technology,Copiers,"Hewlett Copy Machine, Color",530.220,2,0.0,180.240,349.98,2018
915,916,ES-2018-4785777,31/12/2018,04/01/2019,Standard Class,DP-13390,Dennis Pardue,Home Office,Hamburg,Hamburg,...,OFF-BI-10000620,Office Supplies,Binders,"Wilson Jones Index Tab, Economy",32.250,5,0.0,8.250,24.00,2018
6174,6175,ES-2018-3638865,31/12/2018,01/01/2019,First Class,SV-20935,Susan Vittorini,Consumer,Worcester,England,...,OFF-ST-10002539,Office Supplies,Storage,"Fellowes Shelving, Single Width",289.350,5,0.0,75.150,214.20,2018
6268,6269,IT-2018-3715679,31/12/2018,05/01/2019,Second Class,JK-15640,Jim Kriz,Home Office,Eindhoven,North Brabant,...,OFF-BI-10002986,Office Supplies,Binders,"Avery Binder Covers, Recycled",22.860,4,0.5,-6.420,29.28,2018
330,331,ES-2018-2815584,31/12/2018,04/01/2019,Standard Class,ES-14020,Erica Smith,Consumer,Bielefeld,North Rhine-Westphalia,...,OFF-SU-10004279,Office Supplies,Supplies,"Kleencut Shears, Serrated",260.820,6,0.0,12.960,247.86,2018

In [107]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         10000 non-null  int64
 1   Order ID       10000 non-null  object
 2   Order Date     10000 non-null  datetime64[ns]
 3   Ship Date      10000 non-null  object
 4   Ship Mode      10000 non-null  object
 5   Customer ID    10000 non-null  object
 6   Customer Name  10000 non-null  object
 7   Segment        10000 non-null  object
 8   City           10000 non-null  object
 9   State          10000 non-null  object
 10  Country        10000 non-null  object
 11  Region         10000 non-null  object
 12  Product ID     10000 non-null  object
 13  Category       10000 non-null  object
 14  Sub-Category   10000 non-null  object
 15  Product Name   10000 non-null  object
 16  Sales          10000 non-null  float64
 17  Quantity       10000 non-null  int64
 18  Discount       10000 non-null  float64
 19  Profit         10000 non-null  float64
 20  Cost           10000 non-null  float64
 21  Year of Order  10000 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(14)
memory usage: 1.7+ MB

In [112]:
df.sort_values('Order Date', inplace=True)

In [115]:
#@title Cumulative Sum
#Cumulative Sum means take the of the value with all the values from the beginning

df['Cumulative Sum'] = df['Quantity'].cumsum()

In [118]:
df.rename(columns={'Cumulative Sum':'Cumulative Quantity'}, inplace=True)

In [122]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Cost,Year of Order,Cumulative Quantity,Moving Average
1436,1437,IT-2015-3647632,2015-01-01,05/01/2015,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,70.92,2015,3,NaN
6432,6433,ES-2015-5268439,2015-01-02,03/02/2015,Second Class,GH-14485,Gene Hale,Corporate,La Rochelle,Aquitaine-Limousin-Poitou-Charentes,...,Art,"Binney & Smith Pencil Sharpener, Easy-Erase",139.650,5,0.0,15.300,124.35,2015,8,NaN
6431,6432,ES-2015-5268439,2015-01-02,03/02/2015,Second Class,GH-14485,Gene Hale,Corporate,La Rochelle,Aquitaine-Limousin-Poitou-Charentes,...,Envelopes,"GlobeWeis Peel and Seal, Set of 50",21.390,1,0.0,0.000,21.39,2015,9,NaN
9501,9502,ES-2015-5460465,2015-01-02,05/02/2015,Standard Class,RR-19315,Ralph Ritter,Consumer,Parma,Emilia-Romagna,...,Art,"Sanford Pencil Sharpener, Water Color",78.300,3,0.0,20.340,57.96,2015,12,NaN
4119,4120,ES-2015-2205486,2015-01-02,07/02/2015,Standard Class,IM-15055,Ionia McGrath,Consumer,Halle,North Rhine-Westphalia,...,Binders,"Avery Hole Reinforcements, Durable",11.820,2,0.0,4.200,7.62,2015,14,296.025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6174,6175,ES-2018-3638865,2018-12-31,01/01/2019,First Class,SV-20935,Susan Vittorini,Consumer,Worcester,England,...,Storage,"Fellowes Shelving, Single Width",289.350,5,0.0,75.150,214.20,2018,37757,1981.950
6266,6267,IT-2018-3715679,2018-12-31,05/01/2019,Second Class,JK-15640,Jim Kriz,Home Office,Eindhoven,North Brabant,...,Art,"BIC Pencil Sharpener, Fluorescent",30.270,2,0.5,-9.690,39.96,2018,37759,1767.060
6267,6268,IT-2018-3715679,2018-12-31,05/01/2019,Second Class,JK-15640,Jim Kriz,Home Office,Eindhoven,North Brabant,...,Machines,"StarTech Phone, Red",107.505,3,0.5,-19.395,126.90,2018,37762,1007.265
330,331,ES-2018-2815584,2018-12-31,04/01/2019,Standard Class,ES-14020,Erica Smith,Consumer,Bielefeld,North Rhine-Westphalia,...,Supplies,"Kleencut Shears, Serrated",260.820,6,0.0,12.960,247.86,2018,37768,1245.225
915,916,ES-2018-4785777,2018-12-31,04/01/2019,Standard Class,DP-13390,Dennis Pardue,Home Office,Hamburg,Hamburg,...,Binders,"Wilson Jones Index Tab, Economy",32.250,5,0.0,8.250,24.00,2018,37773,720.195

In [123]:
#@title Rolling Average
# With this code I say take the average of column with the other 4 columns at upside (at total 5 columns),
# because of that first 4 columns has NaN value

In [137]:
df['Moving Average'] = df['Sales'].rolling(5).sum()
df.rename(columns = {'Moving Average': 'Moving Sum of Sales'}, inplace=True)

In [142]:
df.head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product Name,Sales,Quantity,Discount,Profit,Cost,Year of Order,Cumulative Quantity,Moving Average of Sales,Moving Sum of Sales
1436,1437,IT-2015-3647632,2015-01-01,05/01/2015,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,70.92,2015,3,NaN,NaN
6432,6433,ES-2015-5268439,2015-01-02,03/02/2015,Second Class,GH-14485,Gene Hale,Corporate,La Rochelle,Aquitaine-Limousin-Poitou-Charentes,...,"Binney & Smith Pencil Sharpener, Easy-Erase",139.650,5,0.0,15.300,124.35,2015,8,92.25750,NaN
6431,6432,ES-2015-5268439,2015-01-02,03/02/2015,Second Class,GH-14485,Gene Hale,Corporate,La Rochelle,Aquitaine-Limousin-Poitou-Charentes,...,"GlobeWeis Peel and Seal, Set of 50",21.390,1,0.0,0.000,21.39,2015,9,68.63500,NaN
9501,9502,ES-2015-5460465,2015-01-02,05/02/2015,Standard Class,RR-19315,Ralph Ritter,Consumer,Parma,Emilia-Romagna,...,"Sanford Pencil Sharpener, Water Color",78.300,3,0.0,20.340,57.96,2015,12,71.05125,NaN
4119,4120,ES-2015-2205486,2015-01-02,07/02/2015,Standard Class,IM-15055,Ionia McGrath,Consumer,Halle,North Rhine-Westphalia,...,"Avery Hole Reinforcements, Durable",11.820,2,0.0,4.200,7.62,2015,14,59.20500,296.025
4118,4119,ES-2015-2205486,2015-01-02,07/02/2015,Standard Class,IM-15055,Ionia McGrath,Consumer,Halle,North Rhine-Westphalia,...,"Acco Hole Reinforcements, Recycled",21.060,3,0.0,10.530,10.53,2015,17,54.44400,272.220
4939,4940,ES-2015-3721082,2015-01-04,05/04/2015,Standard Class,LB-16735,Larry Blacks,Consumer,Geneva,Geneva,...,"Eldon Clock, Erganomic",110.280,2,0.0,37.440,72.84,2015,19,48.57000,242.850
4940,4941,ES-2015-3721082,2015-01-04,05/04/2015,Standard Class,LB-16735,Larry Blacks,Consumer,Geneva,Geneva,...,"Stanley Pens, Easy-Erase",20.640,2,0.0,9.060,11.58,2015,21,48.42000,242.100
71,72,ES-2015-5287434,2015-01-04,05/04/2015,Standard Class,SA-20830,Sue Ann Reed,Consumer,Newcastle upon Tyne,England,...,"Rogers Lockers, Blue",423.240,2,0.0,29.580,393.66,2015,23,117.40800,587.040
5481,5482,IT-2015-5233011,2015-01-04,07/04/2015,Standard Class,TS-21370,Todd Sumrall,Corporate,Gothenburg,Västra Götaland,...,"Advantus Photo Frame, Durable",40.008,2,0.6,-44.052,84.06,2015,25,123.04560,615.228

In [132]:
#min_periods means if I dont have 5 rows than take minimum 2 of them

df['Moving Average of Sales'] = df['Sales'].rolling(5, min_periods=2).mean()

In [143]:
df.head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product Name,Sales,Quantity,Discount,Profit,Cost,Year of Order,Cumulative Quantity,Moving Average of Sales,Moving Sum of Sales
1436,1437,IT-2015-3647632,2015-01-01,05/01/2015,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,70.92,2015,3,NaN,NaN
6432,6433,ES-2015-5268439,2015-01-02,03/02/2015,Second Class,GH-14485,Gene Hale,Corporate,La Rochelle,Aquitaine-Limousin-Poitou-Charentes,...,"Binney & Smith Pencil Sharpener, Easy-Erase",139.650,5,0.0,15.300,124.35,2015,8,92.25750,NaN
6431,6432,ES-2015-5268439,2015-01-02,03/02/2015,Second Class,GH-14485,Gene Hale,Corporate,La Rochelle,Aquitaine-Limousin-Poitou-Charentes,...,"GlobeWeis Peel and Seal, Set of 50",21.390,1,0.0,0.000,21.39,2015,9,68.63500,NaN
9501,9502,ES-2015-5460465,2015-01-02,05/02/2015,Standard Class,RR-19315,Ralph Ritter,Consumer,Parma,Emilia-Romagna,...,"Sanford Pencil Sharpener, Water Color",78.300,3,0.0,20.340,57.96,2015,12,71.05125,NaN
4119,4120,ES-2015-2205486,2015-01-02,07/02/2015,Standard Class,IM-15055,Ionia McGrath,Consumer,Halle,North Rhine-Westphalia,...,"Avery Hole Reinforcements, Durable",11.820,2,0.0,4.200,7.62,2015,14,59.20500,296.025
4118,4119,ES-2015-2205486,2015-01-02,07/02/2015,Standard Class,IM-15055,Ionia McGrath,Consumer,Halle,North Rhine-Westphalia,...,"Acco Hole Reinforcements, Recycled",21.060,3,0.0,10.530,10.53,2015,17,54.44400,272.220
4939,4940,ES-2015-3721082,2015-01-04,05/04/2015,Standard Class,LB-16735,Larry Blacks,Consumer,Geneva,Geneva,...,"Eldon Clock, Erganomic",110.280,2,0.0,37.440,72.84,2015,19,48.57000,242.850
4940,4941,ES-2015-3721082,2015-01-04,05/04/2015,Standard Class,LB-16735,Larry Blacks,Consumer,Geneva,Geneva,...,"Stanley Pens, Easy-Erase",20.640,2,0.0,9.060,11.58,2015,21,48.42000,242.100
71,72,ES-2015-5287434,2015-01-04,05/04/2015,Standard Class,SA-20830,Sue Ann Reed,Consumer,Newcastle upon Tyne,England,...,"Rogers Lockers, Blue",423.240,2,0.0,29.580,393.66,2015,23,117.40800,587.040
5481,5482,IT-2015-5233011,2015-01-04,07/04/2015,Standard Class,TS-21370,Todd Sumrall,Corporate,Gothenburg,Västra Götaland,...,"Advantus Photo Frame, Durable",40.008,2,0.6,-44.052,84.06,2015,25,123.04560,615.228

In [144]:
#@title Statistical Analysis usecases in Pandas vs Spark

In [145]:
#Correlations between numerical columns

df.corr()

,Row ID,Sales,Quantity,Discount,Profit,Cost,Year of Order,Cumulative Quantity,Moving Average of Sales,Moving Sum of Sales
Row ID,1.000000,-0.003972,-0.021099,0.023176,-0.014931,0.001689,-0.021681,-0.021845,0.003504,0.003759
Sales,-0.003972,1.000000,0.345116,-0.016923,0.472645,0.931482,0.005163,0.005396,0.452091,0.452039
Quantity,-0.021099,0.345116,1.000000,0.000939,0.111326,0.342849,-0.001529,-0.001598,0.160185,0.160111
Discount,0.023176,-0.016923,0.000939,1.000000,-0.339153,0.120939,0.003097,0.007795,-0.029509,-0.029689
Profit,-0.014931,0.472645,0.111326,-0.339153,1.000000,0.119673,-0.001294,-0.003816,0.222873,0.222864
Cost,0.001689,0.931482,0.342849,0.120939,0.119673,1.000000,0.006350,0.007654,0.417317,0.417260
Year of Order,-0.021681,0.005163,-0.001529,0.003097,-0.001294,0.006350,1.000000,0.956574,0.011465,0.010987
Cumulative Quantity,-0.021845,0.005396,-0.001598,0.007795,-0.003816,0.007654,0.956574,1.000000,0.012345,0.011841
Moving Average of Sales,0.003504,0.452091,0.160185,-0.029509,0.222873,0.417317,0.011465,0.012345,1.000000,1.000000
Moving Sum of Sales,0.003759,0.452039,0.160111,-0.029689,0.222864,0.417260,0.010987,0.011841,1.000000,1.000000

In [146]:
df.describe()

,Row ID,Sales,Quantity,Discount,Profit,Cost,Year of Order,Cumulative Quantity,Moving Average of Sales,Moving Sum of Sales
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,9999.000000,9996.000000
mean,5000.50000,293.808906,3.777300,0.103105,37.282974,256.525932,2016.798000,18899.184400,293.823958,1469.444686
std,2886.89568,486.055635,2.203268,0.174782,178.100384,431.438436,1.094311,10897.203911,220.421596,1102.113369
min,1.00000,2.955000,1.000000,0.000000,-3059.820000,2.610000,2015.000000,3.000000,24.159000,120.795000
25%,2500.75000,49.462500,2.000000,0.000000,1.320000,40.800000,2016.000000,9516.250000,143.309400,716.934000
50%,5000.50000,119.355000,3.000000,0.000000,14.220000,100.800000,2017.000000,18944.000000,235.032000,1175.283750
75%,7500.25000,320.708625,5.000000,0.100000,48.510000,276.802500,2018.000000,28373.250000,375.459600,1877.646000
max,10000.00000,7958.580000,14.000000,0.850000,3979.080000,6459.480000,2018.000000,37773.000000,2161.066800,10805.334000

In [147]:
df['Sales']

1436     44.865
6432    139.650
6431     21.390
9501     78.300
4119     11.820
         ...
6174    289.350
6266     30.270
6267    107.505
330     260.820
915      32.250
Name: Sales, Length: 10000, dtype: float64

In [153]:
# To put each row in perspective of the entire dataset, you can create bins of each data
# pd.cut() attempts to create bins of approximate equal width

pd.cut(df['Quantity'], 5)

1436    (0.987, 3.6]
6432      (3.6, 6.2]
6431    (0.987, 3.6]
9501    (0.987, 3.6]
4119    (0.987, 3.6]
            ...
6174      (3.6, 6.2]
6266    (0.987, 3.6]
6267    (0.987, 3.6]
330       (3.6, 6.2]
915       (3.6, 6.2]
Name: Quantity, Length: 10000, dtype: category
Categories (5, interval[float64, right]): [(0.987, 3.6] < (3.6, 6.2] < (6.2, 8.8] < (8.8, 11.4] <
                                           (11.4, 14.0]]

In [155]:
pd.cut(df['Quantity'], 5).unique()

[(0.987, 3.6], (3.6, 6.2], (8.8, 11.4], (6.2, 8.8], (11.4, 14.0]]
Categories (5, interval[float64, right]): [(0.987, 3.6] < (3.6, 6.2] < (6.2, 8.8] < (8.8, 11.4] <
                                           (11.4, 14.0]]

In [156]:
df['Bin for Quantity'] = pd.cut(df['Quantity'], 5)

In [158]:
#Bin for Quantity Column Shows: Which value in 'Quantity' columns belongs which bin
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Sales,Quantity,Discount,Profit,Cost,Year of Order,Cumulative Quantity,Moving Average of Sales,Moving Sum of Sales,Bin for Quantity
1436,1437,IT-2015-3647632,2015-01-01,05/01/2015,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,44.865,3,0.5,-26.055,70.92,2015,3,NaN,NaN,"(0.987, 3.6]"
6432,6433,ES-2015-5268439,2015-01-02,03/02/2015,Second Class,GH-14485,Gene Hale,Corporate,La Rochelle,Aquitaine-Limousin-Poitou-Charentes,...,139.650,5,0.0,15.300,124.35,2015,8,92.25750,NaN,"(3.6, 6.2]"
6431,6432,ES-2015-5268439,2015-01-02,03/02/2015,Second Class,GH-14485,Gene Hale,Corporate,La Rochelle,Aquitaine-Limousin-Poitou-Charentes,...,21.390,1,0.0,0.000,21.39,2015,9,68.63500,NaN,"(0.987, 3.6]"
9501,9502,ES-2015-5460465,2015-01-02,05/02/2015,Standard Class,RR-19315,Ralph Ritter,Consumer,Parma,Emilia-Romagna,...,78.300,3,0.0,20.340,57.96,2015,12,71.05125,NaN,"(0.987, 3.6]"
4119,4120,ES-2015-2205486,2015-01-02,07/02/2015,Standard Class,IM-15055,Ionia McGrath,Consumer,Halle,North Rhine-Westphalia,...,11.820,2,0.0,4.200,7.62,2015,14,59.20500,296.025,"(0.987, 3.6]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6174,6175,ES-2018-3638865,2018-12-31,01/01/2019,First Class,SV-20935,Susan Vittorini,Consumer,Worcester,England,...,289.350,5,0.0,75.150,214.20,2018,37757,396.39000,1981.950,"(3.6, 6.2]"
6266,6267,IT-2018-3715679,2018-12-31,05/01/2019,Second Class,JK-15640,Jim Kriz,Home Office,Eindhoven,North Brabant,...,30.270,2,0.5,-9.690,39.96,2018,37759,353.41200,1767.060,"(0.987, 3.6]"
6267,6268,IT-2018-3715679,2018-12-31,05/01/2019,Second Class,JK-15640,Jim Kriz,Home Office,Eindhoven,North Brabant,...,107.505,3,0.5,-19.395,126.90,2018,37762,201.45300,1007.265,"(0.987, 3.6]"
330,331,ES-2018-2815584,2018-12-31,04/01/2019,Standard Class,ES-14020,Erica Smith,Consumer,Bielefeld,North Rhine-Westphalia,...,260.820,6,0.0,12.960,247.86,2018,37768,249.04500,1245.225,"(3.6, 6.2]"
915,916,ES-2018-4785777,2018-12-31,04/01/2019,Standard Class,DP-13390,Dennis Pardue,Home Office,Hamburg,Hamburg,...,32.250,5,0.0,8.250,24.00,2018,37773,144.03900,720.195,"(3.6, 6.2]"

In [160]:
#@title You can also create bins which have approximately equal number of members and size

In [161]:
df['Bin for Quantity'].value_counts()

(0.987, 3.6]    5718
(3.6, 6.2]      3033
(6.2, 8.8]       843
(8.8, 11.4]      330
(11.4, 14.0]      76
Name: Bin for Quantity, dtype: int64

In [164]:
# We use pd.qcut() for that

pd.qcut(df['Quantity'], 5).value_counts()

(0.999, 2.0]    3296
(2.0, 3.0]      2422
(5.0, 14.0]     1845
(3.0, 4.0]      1237
(4.0, 5.0]      1200
Name: Quantity, dtype: int64

In [165]:
#@title pd.pivot_table()

In [169]:
# Pivot tables allows us to transpose/pivot our data

#Sales of each category country by country
pd.pivot_table(df, values='Sales', index = ['Country'], columns=['Category'], aggfunc = sum)

Category          Furniture  Office Supplies  Technology
Country
Austria          21209.9400        31571.910   28380.150
Belgium          10343.5200        25168.170   13715.010
Denmark           1471.6080         3812.775    3353.670
Finland           9602.3400         6101.310    5000.700
France          242117.1270       304763.538  312050.418
Germany         160633.4475       205950.582  262256.001
Ireland           3157.4940         6471.780    7010.235
Italy            72017.6040       119213.778   98478.276
Netherlands      30146.8950        22977.105   24390.945
Norway            4223.7300         5884.380   10417.260
Portugal          2961.6600         7212.405    4931.055
Spain            71860.8180       108181.503  107104.359
Sweden           10987.4580        12399.315    7104.630
Switzerland       5908.3800         7231.680   11737.800
United Kingdom  132461.0280       179366.793  216748.479